openapi: "3.0.3"
info:
  title: Online Scout Manager API (Unofficial)
  version: "0.5.0"
  license:
    name: MIT
    url: "https://github.com/archey347/osm-api-docs/blob/main/LICENSE"
  description: |
    Unofficial OpenAPI specification for the
    [Online Scout Manager](https://www.onlinescoutmanager.co.uk) (OSM) API, built
    from a combination of static analysis of OSM's client-side code and checks
    against real traffic.

    Parameters are discovered from how the code uses them, so response structures
    may not be perfect. Calls that have been verified against real traffic are more
    likely to be complete, and are marked **observed**; the rest are **inferred**.
    The sources and tooling this spec is built from are in the
    [osm-api-docs](https://github.com/archey347/osm-api-docs) repository, where
    contributions are welcome.

    OSM does not publish a public API specification. This project fills that gap
    for developers building tools on top of OSM, whether that's a badge tracker, a
    patrol planner, or anything else that helps leaders run their sections.

    > **Provided as-is with no guarantees.** OSM's API is undocumented and can
    > change without notice. Calls, parameters and response shapes were observed or
    > inferred at the time of writing and may drift. Test against the live API
    > before relying on anything here. Not affiliated with OSM; use at your own risk.

    Credit to the City of Newcastle Scouts Digital Team for
    [osm-api-docs](https://github.com/newcastlescouts/osm-api-docs), which this project
    builds on.

    ## Authentication

    OSM uses **OAuth 2.0 (Authorization Code)** for API access. To get started:

    1. Log in to OSM and navigate to **Settings → My Account Details → Developer Tools**.
    2. Create an OAuth application to obtain your `client_id` and `client_secret`.
    3. Implement the standard OAuth 2.0 authorization code flow — redirect users to
       OSM's authorization endpoint, exchange the code for tokens via `/oauth/token`.
    4. Include the access token as a **Bearer token** in the `Authorization` header
       on every API request.
    5. Tokens expire — use the refresh token flow to obtain new access tokens.

    ## Using the API

    Your browser uses a simple API for interacting with OSM, so although the API
    is unsupported and undocumented, your application can do anything that you can
    do on the website.

    Use your browser's developer console to watch the network requests made when
    you perform the actions you want to automate. Pay particular attention to
    whether requests are **GET** or **POST**. Then use your OAuth client library
    to create an authenticated request to the URL you discovered (which sets a
    Bearer token in the Authorization header).

    **Important:** All POST requests must use `application/x-www-form-urlencoded`
    encoding, **not** JSON. Sending JSON bodies will result in your application
    being blocked.

    ## Rate limits

    Please monitor the standard rate limit headers to ensure your application
    does not get blocked automatically. Applications that are frequently blocked
    will be **permanently blocked**.

    | Header | Description |
    |--------|-------------|
    | `X-RateLimit-Limit` | Number of requests per hour your API can perform (per authenticated user) |
    | `X-RateLimit-Remaining` | Requests remaining before the current user is blocked |
    | `X-RateLimit-Reset` | Seconds until the rate limit resets back to the overall limit |

    An **HTTP 429** status code is returned if the user exceeds the limit, along
    with a `Retry-After` header indicating the number of seconds to wait.

    Please also enforce your own lower rate limits, especially if you allow
    unauthenticated users to manipulate your data (e.g. allowing members to join
    a waiting list).

    ## Other considerations

    - **Check responses** — abort if they are not as expected. Your application
      will be blocked if it frequently performs invalid requests.
    - **`X-Deprecated` header** — anything with this header will be removed after
      the date mentioned. Monitor for it.
    - **`X-Blocked` header** — if set, your application has been blocked due to
      invalid data or unauthorized access attempts. Continuing to use the API
      after being blocked will automatically escalate to a **permanent block**.
    - **Bot protection** — if you allow unauthenticated use of your application,
      verify users are not bots.
    - **Input validation** — always sanitise and validate data before sending it
      to OSM. Invalid data will result in your application being blocked.
    - **Privacy and GDPR** — these endpoints return personal data about young
      people and their families. Handle it responsibly. Don't store what you
      don't need, don't log PII, and follow your organisation's data protection
      policies.

    ## Request and response conventions

    Every call sends `X-CSRF`: Anti-forgery token from the web app page; sent on every call.
    POST bodies are `application/x-www-form-urlencoded`, or `multipart/form-data` for file uploads.
    Replies are `application/json`. Rate-limit headers: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`; HTTP 429 with a Retry-After header. Also watch `X-Deprecated`, `X-Blocked`.

    Each operation starts with where its docs come from, and carries it as `x-source`. `observed`: seen in captured traffic, with the date. `inferred`: worked out from the web app's JavaScript (request parameters from its calls, response fields from what it reads). `unknown` (response only): the web app never reads the reply.

    **`ext-action`** — Legacy /ext/<module>/ endpoint; one path and method serves many actions. Route: `<path>?action=<action>`; the path ends with `/`.
    Replies are not wrapped by default; errors are { message } or a plain string.
    Many replies are bare (`{ items }`, flat objects, `true`); a call sets `response.envelope: true` when it uses the wrapper.

    **`v3-route`** — REST-style /v3 route; GET and POST only, deletes are `POST .../delete`. Route: `<path>` with `{name}` segments in `path_params`.
    Replies are wrapped as `{ status, error, data, meta }`; errors are `{ message, code }`.
    A call sets `response.envelope: false` when the reply is not wrapped.

    Operations under `/ext/<module>/?action=<name>` list each action separately; the `?action=` part is not an OpenAPI path template, it is the required `action` query parameter.
servers:
  - url: "https://www.onlinescoutmanager.co.uk"
  - url: "https://onlinescoutmanager.co.uk"
security:
  - oauth2: [ ]
tags:
  - name: Startup
    description: Session bootstrap and general metadata.
  - name: Members
    description: Member lists, details, patrols, and census.
  - name: Attendance
    description: Member attendance and badge requirements.
  - name: Custom Data
    description: Custom data groups and updates.
  - name: Email
    description: Member contact email selection and templates.
  - name: Programme
    description: Programme summaries, meetings, activities, sharing, and attachments.
  - name: Badges
    description: Badge-related programme metadata.
  - name: Dashboard
    description: Dashboard summaries and next things.
  - name: Group Hub
    description: Group Hub workspaces shared across a group's sections.
  - name: Risk Assessments
    description: Risk assessments, hazard library, and reviews.
  - name: Campsites
    description: "Campsite venue bookings, setup, pricing and instructors. `/v3` POSTs are form-encoded and answer with the `status`/`error`/`data`/`meta` envelope."
  - name: Events
    description: Events, attendance, sharing, approvals and calendar feeds.
  - name: Reports
    description: Report dashboards, the report editor, sharing, and notifications.
  - name: Help Centre
    description: Help centre articles, the Gilbert AI assistant, and customer support tickets.
  - name: Users
    description: Current user's notifications, push subscriptions, and section registration.
  - name: E-Learning
    description: E-learning module authoring and completion.
  - name: Chat
    description: Chat rooms, forum topics, polls, and votes.
  - name: Comments
    description: Comment threads attached to other records.
  - name: Forms
    description: Form completions.
  - name: Facilities
    description: Camp and local facility directory.
  - name: Legacy
    description: Older selection helpers still used by the web app.
  - name: Quartermaster
    description: Quartermaster lists, sharing, and event bookings.
  - name: Kit
    description: Kit lists and kit items.
  - name: Recipes
    description: Recipes, ingredients, prices, and recipe images.
  - name: Todo
    description: Section projects and tasks.
  - name: Generic
    description: Cross-cutting helpers such as search, member selection, pinned items and menu preferences.
  - name: AI
    description: AI-generated report inputs.
  - name: Downloads
    description: Background export jobs and generated downloads.
  - name: Parent Portal
    description: "Parent and member-facing calls (My.SCOUT, the parent portal). Failures return `status: false` with `error.message`."
  - name: Accounting
    description: Section accounts, categories, financial years, cashbook and items.
  - name: Expense Cards
    description: Expense card accounts, cardholders, cards and card transactions.
  - name: Online Payments
    description: Online payment requests and merchant set-up.
  - name: Finances
    description: Gift Aid, invoices, online payments, HQ payments and the shop.
  - name: Settings
    description: Section and account settings.
paths:
  "/ext/generic/startup/?action=getConfigPayload":
    get:
      summary: Get site configuration
      description: |-
        Request: observed in captured traffic, 2026-06-23. Response: observed in captured traffic, 2026-06-23.

        **`action=getConfigPayload`** returns global, non-user-specific site configuration: section type definitions, patrol role labels, beta features, upgrade pricing, feature flags, recipe metadata, and form configurations.

        returns global site configuration.
      tags: [ Startup ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-06-23"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getConfigPayload ]
      responses:
        "200":
          description: "JSON startup payload (schema varies by `action`; see examples)."
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  error:
                    type: object
                    nullable: true
                    description: "`null` on success."
                  data:
                    $ref: "#/components/schemas/StartupConfigPayload"
                  meta:
                    type: object
                    nullable: true
              examples:
                getConfigPayload:
                  summary: Response for action=getConfigPayload
                  value:
                    status: true
                    error: null
                    data:
                      site_type: scouts
                      site_folder: sites/onlinescoutmanager.co.uk/site
                      siteConfig:
                        disableParentRota: false
                        expense_cards:
                          fees:
                            card_issuing: 10
                            lost_dispute: 20
                            fx_percentage: 3
                            cross_border:
                              percentage: 2
                              fixed: 0.3
                          maximum_overdrawn_charges: 10
                        online_payment_gateways: [ gocardless, stripe ]
                        beta:
                          - key: recipes
                            title: "Recipes & Event Menus"
                            description: Community driven recipe database with instructions for young people.
                            role: all
                            release_ts: 1638205905
                          - key: waiting_list_invites
                            title: Waiting List Invites
                            description: Adds survey and invitation features to waiting list Personal Details.
                            role: all
                            release_ts: 1772443731
                            feedback:
                              min_usage: 1
                              mode: new
                              feature: waiting list survey or invitation
                          - key: scheduled_emails
                            title: Scheduled Emails
                            description: Adds a Send later option when composing emails to members.
                            role: all
                            release_ts: 1779355830
                            feedback:
                              min_usage: 3
                              mode: new
                              feature: scheduled email
                          - key: back_button
                            title: Browser's Back Button
                            description: Browser back button now closes dialogs and navigates between tabs.
                            role: all
                            release_ts: 1782137873
                            feedback:
                              min_days: 14
                              mode: new
                        boltons:
                          b: badges
                          c: campsiteexternalbookings
                          d: details
                          e: events
                          m: emailbolton
                          p: programme
                          a: accounts
                          f: filestorage
                          r: chat
                          i: ai
                          t: tasks
                          h: at_home
                        hasOnlinePayments: true
                        upgrade_config:
                          badges:
                            price: 1
                          events:
                            price: 10
                          ai:
                            price: 7.5
                          programme:
                            price: 1
                          details:
                            price: 2.5
                          emailbolton:
                            price: 4.5
                          filestorage:
                            price: 5
                          silver:
                            price: 18
                          gold:
                            price: 24
                          campsiteexternalbookings:
                            price: 36
                          chat:
                            price: 2.5
                          at_home:
                            price: 10
                          accounts:
                            price: 20
                          tasks:
                            price: 2.5
                        sms_prices:
                          "250": 14.25
                          "500": 28
                          "1000": 55
                        hideSmsOriginator: false
                        filestorage_bolton: true
                        chat_bolton: true
                        whatsnew: true
                        risk_assessments: true
                        recipes:
                          meals: [ breakfast, snack, lunch, dinner, pudding, drink ]
                          methods: [ stove, oven, fire, dutch, expedition, no-cooking ]
                          suitability: [ vegetarian, vegan, gluten, dairy, nuts, wheat, fish, shellfish, egg, oatmeal, soya ]
                          allergies: [ meat, animal, gluten, dairy, nuts, wheat, fish, shellfish, egg, oatmeal, soya ]
                          aisles:
                            - dairy
                            - deli
                            - bakery
                            - vegetable
                            - fruit
                            - fish
                            - frozen
                            - meat
                            - canned
                            - condiments
                            - dried
                            - drink
                            - snack
                            - simple
                            - cereal
                            - cleaning
                            - other
                        hideMyPermissions: false
                        events_attachments_quota: 50
                        events_attachments_quota_private: -1
                        user_can_delete_section: true
                        add_invoices_to_events: false
                        hide_user_active_subscriptions: false
                        user_can_rename_self: true
                        members_discoverable: false
                        event_approvals_config:
                          assign: false
                        events_force_allow_changes: configurable
                        events_prevent_deadline_change: false
                        hide_age_after: 25
                        hq_terms: false
                        default_currency: GBP
                        ask_communication_preferences: false
                        email_list_domain: lists.onlinescoutmanager.co.uk
                        waiting_list_application: [ contact_primary_1, contact_primary_2 ]
                        myscout: Parent Portal
                        communicatable_emails_use_opt_ins: [ ]
                        allowFutureJoinedMovement: false
                        joinedMovementOptional: false
                        hideExternalAccess: false
                        support_network: false
                        support_network_personal: false
                        support_network_disabled_section_types: [ ]
                        event_shared_member_record_cards: false
                        language: en-GB
                        available_languages:
                          en-GB: English (British)
                        disable_patrol_points: false
                        disable_help_videos: false
                        file_proxy: "https://files.onlineyouthmanager.co.uk/"
                        cdn: oymcdn.co.uk
                        global_cdn: oymcdn.co.uk
                        hide_upgrades: false
                        root_url: "https://www.onlinescoutmanager.co.uk"
                        url_www: www.onlinescoutmanager.co.uk
                        fullname: Online Scout Manager
                        myscout_email: "myscout@onlinescoutmanager.co.uk"
                        section_types:
                          uk:
                            earlyyears: Squirrels
                            beavers: Beavers
                            cubs: Cubs
                            scouts: Scouts
                            explorers: Explorers
                            network: Network
                            adults: Adults
                          navigators:
                            juniornavigators: Juniors
                            seniornavigators: Seniors
                          au:
                            ausscouts: Scouts
                            aucubs: Cubs
                            aujoeys: Joeys
                        badge_types:
                          uk: [ challenge, staged, core, activity ]
                          au: [ activity, challenge ]
                        adult_section_types: [ adults ]
                        adult_section_types_emailable: [ adults ]
                        youth_section_types:
                          - earlyyears
                          - beavers
                          - cubs
                          - scouts
                          - explorers
                          - network
                          - juniornavigators
                          - seniornavigators
                          - aujoeys
                          - aucubs
                          - ausscouts
                          - campsite
                        free_sections: [ adults, waiting, campsite, national ]
                        abbr: osm
                        facebookpage: onlinescoutmanager
                        personaldetails_configurable: true
                        colour_primary: "4d2177"
                        colour_secondary: "84a40b"
                        colour_tertiary: "8b0066"
                        default_currency_symbol: "£"
                        communicatable_contact_groups:
                          default:
                            contact_primary_1: Primary Contact 1
                            contact_primary_2: Primary Contact 2
                            contact_primary_member: Member
                          campsite:
                            contact_primary_campsite: Customer
                        section_type_setup:
                          beavers:
                            ai_risk_activities: true
                            programme: true
                            events: true
                            flexi: true
                            quartermaster: true
                            attendance: true
                            finances: true
                            giftaid: true
                            patrols: true
                            subscription: true
                            badgeMenu: true
                            isScout: true
                            showStartedSection: true
                            isDOBNeeded: true
                            isWaiting: false
                            isAdult: false
                            useTerms: true
                            showDetails: true
                            campDirectory: true
                            census: true
                            allowSMS: true
                            showCountry: true
                            myscout: true
                            onlinepayments: true
                            waitingListType: waiting
                            badgeTitle: Badges
                            showSectionSizePredictor: true
                            showBadgesByPerson: true
                            sectionSizePredictor:
                              earlyyears: 2190
                              beavers: 2920
                              cubs: 3832
                              scouts: 5110
                              explorers: 6570
                              network: 9125
                            section_colours_ages:
                              earlyyears: [ "#ca1a10", 4, 6 ]
                              beavers: [ "#0099FF", 6, 8 ]
                              cubs: [ "#33CC00", 8, 10.5 ]
                              scouts: [ "#006666", 10.5, 14 ]
                              explorers: [ "#999966", 14, 18 ]
                              network: [ "#4d2177", 18, 25 ]
                              waiting: [ "#999999", -1, -1 ]
                            fileStorage: true
                            badgeStock: true
                            badges:
                              challenge:
                                type: challenge
                                singular: Challenge
                                menu: Challenge
                                title: Challenge Badges
                                type_id: 1
                              activity:
                                type: activity
                                singular: Activity
                                menu: Activity
                                title: Activity Badges
                                type_id: 2
                              staged:
                                type: staged
                                singular: Staged
                                menu: Staged
                                title: Staged Badges
                                type_id: 3
                              core:
                                type: core
                                singular: Core
                                menu: Core
                                title: Core Badges
                                type_id: 4
                            audit_trail:
                              member:
                                note_types:
                                  - notes
                                  - received-email
                                  - received-phonecall
                                  - received-letter
                                  - sent-email
                                  - sent-phonecall
                                  - sent-letter
                              section:
                                note_types: [ notes ]
                            showParentPortalLoginHistory: true
                            hasYoungLeadersPatrol: true
                            hideUpgrades: false
                          adults:
                            programme: true
                            events: true
                            flexi: true
                            quartermaster: true
                            giftaid: true
                            attendance: false
                            finances: true
                            badgeTitle: Records
                            subscription: false
                            badgeMenu: false
                            isDOBNeeded: false
                            isScout: false
                            showStartedSection: true
                            isAdult: true
                            myscout: true
                            patrols: true
                            isWaiting: false
                            showDetails: true
                            useTerms: true
                            waitingListType: waiting
                            allowSMS: true
                            showYouthBadgeLinks: false
                            showCountry: true
                            census: true
                            onlinepayments: true
                            fileStorage: true
                            badges:
                              challenge:
                                type: challenge
                                singular: Records
                                menu: Records
                                title: Records
                                type_id: 1
                            audit_trail:
                              member:
                                note_types:
                                  - notes
                                  - received-email
                                  - received-phonecall
                                  - received-letter
                                  - sent-email
                                  - sent-phonecall
                                  - sent-letter
                              section:
                                note_types: [ notes ]
                            showParentPortalLoginHistory: true
                            excludeFromHierarchy: true
                            hideUpgrades: false
                          waiting:
                            programme: false
                            events: false
                            flexi: true
                            attendance: false
                            patrols: false
                            finances: false
                            subscription: false
                            badgeMenu: false
                            isScout: false
                            showStartedSection: false
                            isDOBNeeded: true
                            showSectionSizePredictor: true
                            isAdult: false
                            isWaiting: true
                            showDetails: true
                            useTerms: false
                            allowSMS: true
                            waitingListType: waiting
                            showYouthBadgeLinks: false
                            badges: [ ]
                            audit_trail:
                              member:
                                note_types:
                                  - notes
                                  - received-email
                                  - received-phonecall
                                  - received-letter
                                  - sent-email
                                  - sent-phonecall
                                  - sent-letter
                              section:
                                note_types: [ notes ]
                            showParentPortalLoginHistory: true
                            excludeFromHierarchy: true
                            hideUpgrades: false
                          discount:
                            programme: false
                            events: false
                            flexi: false
                            attendance: false
                            finances: false
                            subscription: false
                            badgeMenu: false
                            isScout: false
                            showStartedSection: false
                            isDOBNeeded: false
                            isAdult: false
                            isWaiting: false
                            isDiscount: true
                            hideForum: true
                            useTerms: false
                            allowSMS: false
                            hideUpgrades: true
                            showDetails: false
                            badges: [ ]
                            audit_trail:
                              member:
                                note_types:
                                  - notes
                                  - received-email
                                  - received-phonecall
                                  - received-letter
                                  - sent-email
                                  - sent-phonecall
                                  - sent-letter
                              section:
                                note_types: [ notes ]
                            showParentPortalLoginHistory: false
                            excludeFromHierarchy: true
                            disableOffline: true
                        buy_links:
                          due_badge_bags: "https://example.com/due-badge-bags"
                        feature_preview: [ ]
                        risk_assessments_config:
                          mode: freeform
                          reuse_programme: true
                          reuse_events: true
                          residual_risk: false
                          who: true
                          has_generic_events: true
                          has_activities: true
                        tld: onlinescoutmanager.co.uk
                        accounting: true
                        accounting_expense_cards: true
                        activity_database: true
                        ai: true
                        api_manage_hq: false
                        badge_homework: true
                        badge_show_completion_certificate: false
                        badge_wizard: true
                        campaign_template_designs: [ purpleandgreen, lightblue, darkblue, turquoise, purpleandpink, purple, default, blank ]
                        deletable_users: true
                        duplicate_member_checks: false
                        elearning_editor: false
                        elearning_viewer: false
                        email_from_reports: [ ]
                        email_signatures: true
                        email_template_colours:
                          - "#ffffff"
                          - "#000000"
                          - "#ffcd00"
                          - "#ff8200"
                          - "#ba0c2f"
                          - "#7C3A2D"
                          - "#AD1AAC"
                          - "#7413dc"
                          - "#4d2177"
                          - "#003DA5"
                          - "#002855"
                          - "#0095C8"
                          - "#004851"
                          - "#00594F"
                          - "#00a794"
                          - "#009A44"
                          - "#84A40B"
                          - "#8C857B"
                        event_directions: true
                        event_duplicate: true
                        event_types_single_select: false
                        events_additional_information: [ ]
                        events_approvals: false
                        events_at_home: true
                        events_parent_rota: true
                        events_past_read_only: false
                        events_personal_details_confirmation_restriction: "standard_fields:confirmation:24267"
                        events_summary_approval_status_highlights: [ ]
                        events_v2: true
                        group_badges: true
                        group_dashboard: true
                        hasJoinedMovement: true
                        has_main_section_per_person: false
                        help_websites: false
                        hierarchy_sms: false
                        hq_support: false
                        kill:
                          built_files: false
                          built_files_admin: false
                          cdn: false
                          cdn_admin: false
                          extralogging: false
                          extralogging_admin: false
                          gilbert: false
                          gilbert_admin: false
                          gilbert_bedrock: false
                          gilbert_bedrock_admin: false
                          gilbert_support: false
                          gilbert_support_admin: false
                          gocardless: false
                          gocardless_admin: false
                          intrusiondetection: false
                          intrusiondetection_admin: false
                          offlinedata: false
                          offlinedata_admin: false
                          proxysql: false
                          proxysql_admin: false
                          sms: false
                          sms_admin: false
                        kit_lists: true
                        leader_parent_portal_file_storage_without_upgrade: false
                        lockdown_email_from_address: false
                        member_deletion_review: true
                        member_elsewhere_review: false
                        member_erase_extra_data: [ badge, events, register, finance ]
                        member_removal_warn_if_active: false
                        member_view_email_history: false
                        member_view_own_badge_details: false
                        members_users_linked: false
                        members_users_linked_edit: false
                        mymember_access_restrictions: section
                        national_opt_in_or_out: false
                        national_opt_in_or_out_sms: false
                        national_parent_portal_file_storage: false
                        organisation_import: false
                        parent_portal_auto_join: opt-in
                        parent_portal_date_of_birth_custom_data_group: standard_fields
                        parent_portal_thank_you_messages: true
                        prevent_import_spreadsheet: false
                        prevent_leader_edit_portal_templates: false
                        programme_primary_leader: true
                        programmes_at_home: true
                        purge_event_audit_trail: 3
                        remove_member_allowed_functions:
                          default: [ keepname, keepcontact, keepall, delete, erase ]
                        require_global_role_inactive_searches: false
                        schedule_emails: true
                        section_edit_details: false
                        section_edit_details_mode: all_sections
                        section_editable_locations: false
                        section_requires_two_admins: true
                        shared_events_opt_in_email: true
                        showCommentsOnAllDashboards: false
                        show_additional_roles_dates_comments: false
                        show_community_help_forum: true
                        show_feature_requests: true
                        summary_dashboards: false
                        to_do_tasks: true
                        urgent_event_approvals: -1
                      patrolLabels:
                        scouts:
                          patrol: Patrol
                          patrols: Patrols
                        cubs:
                          patrol: Six
                          patrols: Sixes
                        beavers:
                          patrol: Lodge
                          patrols: Lodges
                        explorers:
                          patrol: Patrol
                          patrols: Patrols
                        network:
                          patrol: Patrol
                          patrols: Patrols
                        adults:
                          patrol: Section / Role
                          patrols: Sections
                        earlyyears:
                          patrol: Nest
                          patrols: Nests
                        juniornavigators:
                          patrol: Team
                          patrols: Teams
                        seniornavigators:
                          patrol: Team
                          patrols: Teams
                        aucubs:
                          patrol: Six
                          patrols: Sixes
                      patrolRoles:
                        scouts:
                          - level: 0
                            label: Normal
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: Assistant Patrol Leader
                            abbr: APL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: Patrol Leader
                            abbr: PL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: Senior Patrol Leader
                            abbr: SPL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        cubs:
                          - level: 0
                            label: Normal
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: Seconder
                            abbr: "2nd"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: Sixer
                            abbr: "6er"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: Senior Sixer
                            abbr: S6er
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        beavers:
                          - level: 0
                            label: Normal
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: Assistant Lodge Leader
                            abbr: ALL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: Lodge Leader
                            abbr: LL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: Senior Lodge Leader
                            abbr: SLL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        explorers:
                          - level: 0
                            label: Normal
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: Assistant Patrol Leader
                            abbr: APL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: Patrol Leader
                            abbr: PL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: Senior Patrol Leader
                            abbr: SPL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        earlyyears:
                          - level: 0
                            label: Normal
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        adults:
                          "0":
                            level: 0
                            label: Unspecified
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "1":
                            level: 1
                            label: Section Team Member
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "2":
                            level: 2
                            label: Section Team Leader
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "3":
                            level: 3
                            label: Young Leader
                            abbr: YL
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "6":
                            level: 6
                            label: Group Lead Volunteer
                            abbr: GLV
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "7":
                            level: 7
                            label: Chair
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "8":
                            level: 8
                            label: Treasurer
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "9":
                            level: 9
                            label: Secretary
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "15":
                            level: 15
                            label: Trustee
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                      extraSectionTypes:
                        staged: n/a
                        adults: Adults
                        aucubs: Australian Cubs
                        zadventure: Adventure
                        campsite: Campsite
                        national: National Office
                      featurelevels:
                        addbadge: 3
                        badgeeligibility: 3
                        badge_records: 1
                        badgepdf: 3
                        badgespreadsheet: 3
                        calendarsync: 3
                        census: 3
                        eventdownload: 3
                        events: 2
                        eventsharing: 2
                        exportemail: 2
                        exportpatrolpdf: 3
                        extrapdf: 3
                        extras: 2
                        filestorage: 3
                        finances: 3
                        genericpdf: 3
                        giftaid: 3
                        helloworld: 99
                        ics: 3
                        intouchpdf: 2
                        mobile: 2
                        outstanding: 2
                        printoutstanding: 3
                        programmepdf: 3
                        quartermaster: 3
                        recordcard: 3
                        register: 2
                        registerpdf: 3
                        reporting: 1
                        sendemail: 2
                        sharebadgestock: 3
                        showprogrammeinbadgerecords: 3
                        spreadsheet: 3
                        survey: 3
                        recipes: 3
                        risk_assessments: 3
                        badgewizard: 3
                        activity: 2
                        badgestock: 1
                        programme: 1
                        accidentforms: 3
                      changedlevels: [ ]
                      availableRoles:
                        nobody: Nobody
                        siteadministrator: OSM Site Administrator
                      globalAccessRoles:
                        - user_role: siteadministrator
                          access_type: kill_switches
                          id: n/a
                        - user_role: _support
                          access_type: audit_member_support
                          id: "*"
                        - user_role: _support
                          access_type: grant_access
                          id: "*"
                        - user_role: _all
                          access_type: preview_badge_wizard
                          id: n/a
                        - user_role: badge_orders
                          access_type: online_badge_order
                          id: "*"
                      terminology:
                        Level_1: Group
                        Level_2: District
                        Level_3: County
                        Level_4: Region/Area
                        Level_5: Country
                        Level_6: Association
                      forms:
                        - name: Accident Forms
                          menu_config:
                            - reference: ext.members.health
                              menu: members
                              area: members
                              offline: false
                              order: 10
                              subscription_feature: accidentforms
                              title: Accident Forms
                              title_is_translated: true
                              react: ext_forms_FormListPane
                        - name: Medication History
                          menu_config:
                            - reference: ext.members.medication
                              menu: members
                              area: members
                              offline: false
                              order: 11
                              subscription_feature: accidentforms
                              title: Medication History
                              title_is_translated: true
                              react: ext_forms_FormListPane
                        - name: Incident Logs
                          menu_config:
                            - reference: ext.members.incidents
                              menu: members
                              area: members
                              offline: false
                              order: 15
                              subscription_feature: accidentforms
                              title: Incident Logs
                              title_is_translated: true
                              react: ext_forms_FormListPane
                        - name: Entrepreneur Fund
                          menu_config:
                            - reference: ext.forms.entrepreneur
                              menu: sectionadmin
                              area: grants
                              offline: false
                              order: 1000
                              subscription_feature: accidentforms
                              title: Entrepreneur Fund
                              title_is_translated: true
                              react: ext_forms_FormListPane
                      default_terminology:
                        section: section
                        sections: sections
                        Section: Section
                        Sections: Sections
                        Group: Group
                        group: group
                        District: District
                        Level_1: Group
                        Level_2: District
                        Level_3: Area
                        Level_4: Country
                        Level_5: ""
                        Level_6: ""
                      leaderPatrolIds: [ -2, -3 ]
                    meta: null
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_generic_startup_getConfigPayload_get
    post:
      summary: Get site configuration (as the web app calls it)
      description: |-
        Request: observed in captured traffic, 2026-10-05. Response: observed in captured traffic, 2026-10-05.

        The web app calls both payload actions with POST and the body below; the response is the same as the GET form.
      tags: [ Startup ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-10-05"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getConfigPayload ]
        - name: v
          in: query
          required: false
          description: "The `config_hash` returned by `getDataPayload`, for cache busting."
          schema:
            type: string
      requestBody:
        content:
          "application/x-www-form-urlencoded":
            schema:
              type: object
              properties:
                refresh_if_invalid_csrf:
                  type: string
                  enum: [ "true" ]
                  description: "Makes `data.refresh` come back true when the CSRF token is stale."
            example:
              refresh_if_invalid_csrf: "true"
      responses:
        "200":
          description: "Same payloads as the GET form. `data.refresh` is true when the CSRF token is stale and the page should reload."
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  error:
                    type: object
                    nullable: true
                    description: "`null` on success."
                  data:
                    $ref: "#/components/schemas/StartupConfigPayload"
                  meta:
                    type: object
                    nullable: true
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_generic_startup_getConfigPayload_post
  "/ext/generic/startup/?action=getData":
    get:
      summary: Get startup data (removed)
      description: |-
        Request: observed in captured traffic, 2026-01-18. Response: observed in captured traffic, 2026-01-18.

        **`action=getData` has been permanently removed** — this action was removed without notice.

        Removed: HTTP 410. Gone — `action=getData` has been permanently removed. HTTP 410 Gone is the only reply you will ever receive for that action.
      tags: [ Startup ]
      deprecated: true
      x-source:
        request: observed
        response: observed
        observed_on: "2026-01-18"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getData ]
      responses:
        "410":
          description: "Gone — `action=getData` has been permanently removed. HTTP 410 Gone is the only reply you will ever receive for that action."
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_generic_startup_getData
  "/ext/generic/startup/?action=getDataPayload":
    get:
      summary: Get startup data
      description: |-
        Request: observed in captured traffic, 2026-06-23. Response: observed in captured traffic, 2026-06-23.

        Migrate to `action=getDataPayload`.

        **`action=getDataPayload`** returns a JSON payload containing CDN resource URLs, user globals, section roles and permissions, user preferences, terms, and session metadata needed to bootstrap the application after login.

        returns the full JSON startup payload.
      tags: [ Startup ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-06-23"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getDataPayload ]
      responses:
        "200":
          description: "JSON startup payload (schema varies by `action`; see examples)."
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  error:
                    type: object
                    nullable: true
                    description: "`null` on success."
                  data:
                    $ref: "#/components/schemas/StartupDataPayload"
                  meta:
                    type: object
                    nullable: true
              examples:
                getDataPayload:
                  summary: Response for action=getDataPayload
                  value:
                    status: true
                    error: null
                    data:
                      cdn: "https://oymcdn.co.uk/"
                      resources:
                        - /built/postlogin-combined/postlogin-combined-abc123.js
                        - /built/global/global-abc123.js
                        - /built/style-main-blue/style-main-blue-abc123.css
                        - /built/highcharts/highcharts-abc123.js
                        - /built/vendors/vendors-abc123.js
                        - /built/runtime/runtime-abc123.js
                        - /built/menu/menu-abc123.js
                      config_hash: abc123def456abc123def456abc123de
                      required_cdn_built_files:
                        osm.js: "https://oymcdn.co.uk/built/osm/osm-abc123.js"
                        react.js: "https://oymcdn.co.uk/built/react/react-abc123.js"
                      cache_bust: v=abc123
                      globals:
                        post_login_action: false
                        theme: blue
                        userid: 100001
                        roles:
                          - groupname: Example Scout Group
                            groupid: "10001"
                            group_country: uk
                            sectionid: "45001"
                            sectionname: Beavers
                            section: beavers
                            isDefault: "0"
                            permissions:
                              badge: 20
                              member: 20
                              user: 100
                              register: 20
                              programme: 20
                              events: 20
                              flexi: 20
                              finance: 100
                              quartermaster: 20
                            sectionConfig:
                              subscription_level: 3
                              subscription_expires: "2027-01-01"
                              section_type: beavers
                              sectionType: beavers
                              parentSectionId: "0"
                              subscription_active: false
                              meeting_day: Mon
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: level_0
                          - groupname: Example Scout Group
                            groupid: "10001"
                            group_country: uk
                            sectionid: "45002"
                            sectionname: Cubs
                            section: cubs
                            isDefault: "1"
                            permissions:
                              badge: 20
                              member: 20
                              user: "100"
                              register: 20
                              programme: 20
                              events: 20
                              flexi: 20
                              quartermaster: 20
                              finance: 100
                            sectionConfig:
                              subscription_level: 3
                              subscription_expires: "2027-01-01"
                              section_type: cubs
                              sectionType: cubs
                              parentSectionId: "0"
                              subscription_active: false
                              meeting_day: Wed
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: level_0
                          - groupname: Example Scout Group
                            groupid: "10001"
                            group_country: uk
                            sectionid: "45003"
                            sectionname: Leaders
                            section: adults
                            isDefault: "0"
                            permissions:
                              badge: 100
                              member: 100
                              user: 100
                              register: 100
                              contact: 100
                              programme: 100
                              events: 100
                              finance: 100
                              flexi: 100
                              quartermaster: 100
                            sectionConfig:
                              subscription_level: 1
                              subscription_expires: "2027-01-01"
                              section_type: adults
                              sectionType: adults
                              parentSectionId: "0"
                              subscription_active: false
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: level_0
                        active_user_member: false
                        associated_member_id: false
                        email: "leader@example.org"
                        firstname: Alex
                        lastname: Scout
                        fullname: Alex Scout
                        preferences:
                          logins: "100"
                          theme: blue
                          date: uk
                          sort: dob
                          has_assistive_technology: false
                          hotkeys_enabled: false
                          disable_animations: false
                          beta: false
                          beta_functions: [ ]
                        member_access:
                          "45002":
                            name: "Example Scout Group: Cubs"
                            group: Example Scout Group
                            section: Cubs
                            abbrv: Cubs
                            type: cubs
                            label: Cubs
                            members:
                              "2100001":
                                first_name: Alex
                                last_name: Scout
                                photo_guid: "00000000-0000-0000-0000-000000000000"
                                abbrv_name: Alex
                                chat_rooms: [ ]
                                access_type: member
                                has_unread_chat_rooms: false
                                permissions: true
                                patrol: Leaders
                            access: true
                            config:
                              badges: true
                              programme: true
                              emailbolton: true
                              details: true
                              events: true
                              chat: false
                              at_home: false
                              email_address: "Example Scout Group Cubs <cubs@example.org>"
                              giftaid: true
                              payments: true
                              attachments: false
                              photos: true
                            noticeboard: false
                            patrol_label: Six
                        member_access_unactivated: false
                        terms:
                          "45002":
                            - termid: "200001"
                              sectionid: "45002"
                              name: Summer 2025
                              startdate: "2025-04-01"
                              enddate: "2025-07-31"
                              master_term: null
                              past: true
                            - termid: "200002"
                              sectionid: "45002"
                              name: Autumn 2025
                              startdate: "2025-09-01"
                              enddate: "2025-12-31"
                              master_term: null
                              past: false
                        global_roles: [ ]
                        hasSectionAccess: true
                        notepads: [ ]
                        sockets: "45001-abc123,45002-abc123,45003-abc123"
                        user_socket: "100001-abc123"
                        session_id: abc123def456abc123def456abc123def456abc123def456abc123def456abc1
                        security_prompt: false
                        user_has_image: /sites/onlinescoutmanager.co.uk/public/user_photos/100000/100001/00000000-0000-0000-0000-000000000000
                        user_hash: abc123def456abc123def456abc123def456abc123def456abc123def456abc1
                        user_hash_legacy: abc123def456abc123def456abc123def456abc123def456abc123def456abc1
                        language: en-GB
                        gamification:
                          "1":
                            total_steps: 3
                            steps_completed: 2
                            id: 1
                          events:
                            total_steps: 10
                            steps_completed: 7
                            id: 2
                        gamification_rank: 500
                        gamification_total: 100000
                        features_used: [ accessed, viewed events, edited attendance register, sent email ]
                        unread_message_count: 0
                        client_time: "1700000000000"
                      dojo:
                        cacheBust: v=abc123
                        locale: en-gb
                    meta: null
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_generic_startup_getDataPayload_get
    post:
      summary: Get startup data (as the web app calls it)
      description: |-
        Request: observed in captured traffic, 2026-10-05. Response: observed in captured traffic, 2026-10-05.

        The web app calls both payload actions with POST and the body below; the response is the same as the GET form.
      tags: [ Startup ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-10-05"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getDataPayload ]
        - name: client_time
          in: query
          required: false
          description: Browser page-load timestamp.
          schema:
            type: string
      requestBody:
        content:
          "application/x-www-form-urlencoded":
            schema:
              type: object
              properties:
                refresh_if_invalid_csrf:
                  type: string
                  enum: [ "true" ]
                  description: "Makes `data.refresh` come back true when the CSRF token is stale."
            example:
              refresh_if_invalid_csrf: "true"
      responses:
        "200":
          description: "Same payloads as the GET form. `data.refresh` is true when the CSRF token is stale and the page should reload."
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  error:
                    type: object
                    nullable: true
                    description: "`null` on success."
                  data:
                    $ref: "#/components/schemas/StartupDataPayload"
                  meta:
                    type: object
                    nullable: true
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_generic_startup_getDataPayload_post
  "/ext/audittrail/?action=createAuditTrailMessage":
    post:
      summary: Add a message to the audit trail
      description: |-
        Request: inferred from the web app's code. Response: inferred from the web app's code.

        `createAuditTrailMessage` adds a note (`code` is one of `meta.note_types`) and `toggleAuditTrailMessageVisibility` hides or shows an entry; both identify the record in the body like `getAuditTrail`.
      tags: [ Members ]
      x-source:
        request: inferred
        response: inferred
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ createAuditTrailMessage ]
      requestBody:
        required: true
        content:
          "application/x-www-form-urlencoded":
            schema:
              type: object
              properties:
                section_id:
                  type: string
                  description: Section ID (repeated in body).
                id:
                  type: string
                  description: Member scout ID.
                type:
                  type: string
                  enum: [ member ]
                  description: "Must be `member`."
                code:
                  type: string
                notes:
                  type: string
                  description: "Required when `code` is `notes`."
              required: [ section_id, id, type ]
            example:
              section_id: "45001"
              id: "3100001"
              type: member
              code: notes
              notes: Spoke to parent about camp.
      responses:
        "200":
          description: "Audit trail entries for the member, or `status` alone for the write actions."
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  error:
                    type: object
                    nullable: true
                    description: "`null` on success."
                  data:
                    $ref: "#/components/schemas/MemberStatusResponseData"
                  meta:
                    type: object
                    nullable: true
              examples:
                writeAction:
                  summary: "`createAuditTrailMessage`, `toggleAuditTrailMessageVisibility`"
                  value:
                    status: true
                    error: null
                    data: [ ]
                    meta: null
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_audittrail_createAuditTrailMessage
  "/ext/audittrail/?action=getAuditTrail":
    post:
      summary: Get a member's audit trail
      description: |-
        Request: observed in captured traffic, 2026-03-05. Response: observed in captured traffic, 2026-03-05.

        `createAuditTrailMessage` adds a note (`code` is one of `meta.note_types`) and `toggleAuditTrailMessageVisibility` hides or shows an entry; both identify the record in the body like `getAuditTrail`.
      tags: [ Members ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-03-05"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getAuditTrail ]
        - name: section_id
          in: query
          required: false
          description: Section ID.
          schema:
            type: string
      requestBody:
        required: true
        content:
          "application/x-www-form-urlencoded":
            schema:
              type: object
              properties:
                section_id:
                  type: string
                  description: Section ID (repeated in body).
                id:
                  type: string
                  description: Member scout ID.
                type:
                  type: string
                  enum: [ member ]
                  description: "Must be `member`."
                year:
                  type: string
                  description: "Only entries from this year; `meta.available_years` lists the options."
              required: [ section_id, id, type ]
            example:
              section_id: "45001"
              id: "3100001"
              type: member
              year: "2025"
      responses:
        "200":
          description: "Audit trail entries for the member, or `status` alone for the write actions."
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  error:
                    type: object
                    nullable: true
                    description: "`null` on success."
                  data:
                    $ref: "#/components/schemas/AuditTrailResponse"
                  meta:
                    type: object
                    nullable: true
              examples:
                getAuditTrail:
                  summary: Audit trail entries
                  value:
                    status: true
                    error: null
                    data:
                      - date: "15/09/2025 19:42"
                        date_raw: "2025-09-15 19:42:10"
                        summary: "<strong>Jamie River</strong> has had their <strong>Consents: Photographs</strong> added as <strong>Yes</strong> by <strong>Alex Scout</strong>"
                        verbose: ""
                        type: details
                        code: new
                        hidden: false
                      - date: "15/09/2025 19:38"
                        date_raw: "2025-09-15 19:38:31"
                        summary: "<strong>Jamie River</strong> is now a <strong>Sixer</strong> in the Blue six in <strong>Cubs</strong> (previously <strong>Seconder</strong>), changed by <strong>Alex Scout</strong>."
                        verbose: ""
                        type: patrol-leader
                        code: promoted
                        hidden: false
                      - date: "15/09/2025 19:37"
                        date_raw: "2025-09-15 19:37:04"
                        summary: "<strong>Jamie River</strong> was added to the <strong>Blue</strong> six."
                        verbose: ""
                        type: patrols
                        code: add-to
                        hidden: false
                      - date: "15/09/2025 19:35"
                        date_raw: "2025-09-15 19:35:54"
                        summary: "<strong>Alex Scout</strong> updated <strong>Date of Birth</strong> for <strong>Jamie River</strong> from <strong>22/04/2015</strong> to <strong>23/04/2015</strong>"
                        verbose: ""
                        type: details
                        code: field
                        hidden: false
                      - date: "15/09/2025 19:34"
                        date_raw: "2025-09-15 19:34:07"
                        summary: "<strong>Jamie River</strong> has been added to <strong>1st Riverside Scouts: Cubs</strong> by <strong>Alex Scout</strong>."
                        verbose: ""
                        type: members
                        code: add
                        hidden: false
                    meta: null
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_audittrail_getAuditTrail
  "/ext/audittrail/?action=toggleAuditTrailMessageVisibility":
    post:
      summary: Show or hide an audit trail message
      description: |-
        Request: inferred from the web app's code. Response: inferred from the web app's code.

        `createAuditTrailMessage` adds a note (`code` is one of `meta.note_types`) and `toggleAuditTrailMessageVisibility` hides or shows an entry; both identify the record in the body like `getAuditTrail`.
      tags: [ Members ]
      x-source:
        request: inferred
        response: inferred
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ toggleAuditTrailMessageVisibility ]
      requestBody:
        required: true
        content:
          "application/x-www-form-urlencoded":
            schema:
              type: object
              properties:
                section_id:
                  type: string
                  description: Section ID (repeated in body).
                id:
                  type: string
                  description: Member scout ID.
                type:
                  type: string
                  enum: [ member ]
                  description: "Must be `member`."
                code:
                  type: string
                code_type:
                  type: string
                  description: "The entry's `type`."
                date:
                  type: string
                  description: "The entry's `date_raw`."
                hidden:
                  type: string
                  enum: [ "yes", "no" ]
              required: [ section_id, id, type ]
            example:
              section_id: "45001"
              id: "3100001"
              type: member
              code: field
              code_type: details
              date: "2025-09-15 19:35:54"
              hidden: "yes"
      responses:
        "200":
          description: "Audit trail entries for the member, or `status` alone for the write actions."
          content:
            "application/json":
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  error:
                    type: object
                    nullable: true
                    description: "`null` on success."
                  data:
                    $ref: "#/components/schemas/MemberStatusResponseData"
                  meta:
                    type: object
                    nullable: true
              examples:
                writeAction:
                  summary: "`createAuditTrailMessage`, `toggleAuditTrailMessageVisibility`"
                  value:
                    status: true
                    error: null
                    data: [ ]
                    meta: null
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_audittrail_toggleAuditTrailMessageVisibility
  "/ext/members/census/?action=delete":
    post:
      summary: Delete members' census data
      description: "Request: inferred from the web app's code. Response: inferred from the web app's code."
      tags: [ Members ]
      x-source:
        request: inferred
        response: inferred
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ delete ]
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
      requestBody:
        content:
          "application/x-www-form-urlencoded":
            schema:
              type: object
              properties:
                scouts:
                  type: string
                  description: Comma-separated member IDs whose census data is removed.
            example:
              scouts: "3100003"
      responses:
        "200":
          description: "Action result. The web app reads nothing from the `updateDisabilities` response."
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/OkResponse"
              examples:
                delete:
                  value:
                    ok: true
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_census_delete
  "/ext/members/census/?action=export":
    get:
      summary: Download census details as a spreadsheet
      description: "Request: inferred from the web app's code. Response: inferred from the web app's code."
      tags: [ Members ]
      x-source:
        request: inferred
        response: inferred
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ export ]
        - name: sectionid
          in: query
          required: true
          description: Section ID.
          schema:
            type: string
        - name: termid
          in: query
          required: true
          description: Term ID.
          schema:
            type: string
        - name: patrols
          in: query
          required: false
          description: "Comma-separated patrol IDs to include (`0` for members with no patrol)."
          schema:
            type: string
      responses:
        "200":
          description: Spreadsheet download, opened in a new window.
          content:
            "application/octet-stream":
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_census_export
  "/ext/members/census/?action=getAggregates":
    get:
      summary: Get census totals by category
      description: "Request: observed in captured traffic, 2026-10-07. Response: observed in captured traffic, 2026-10-07."
      tags: [ Members ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-10-07"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getAggregates ]
        - name: sectionid
          in: query
          required: true
          description: Section ID.
          schema:
            type: string
        - name: termid
          in: query
          required: true
          description: Term ID.
          schema:
            type: string
        - name: patrols
          in: query
          required: false
          description: "Comma-separated patrol IDs to include (`0` for members with no patrol)."
          schema:
            type: string
      responses:
        "200":
          description: "Census detail response. `export` returns a spreadsheet download rather than JSON."
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/CensusAggregates"
              examples:
                getAggregates:
                  summary: Counts by category, value and gender
                  value:
                    Age:
                      "10":
                        Male: 2
                        Female: 3
                        Self-identify: 0
                        "Prefer not to say": 0
                        "": 0
                        Total: 5
                    Total:
                      "":
                        Male: 2
                        Female: 3
                        Self-identify: 0
                        "Prefer not to say": 0
                        "": 0
                        Total: 5
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_census_getAggregates
  "/ext/members/census/?action=getDetails":
    get:
      summary: Get census details
      description: "Request: observed in captured traffic, 2026-10-07. Response: observed in captured traffic, 2026-10-07."
      tags: [ Members ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-10-07"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getDetails ]
        - name: sectionid
          in: query
          required: true
          description: Section ID.
          schema:
            type: string
        - name: termid
          in: query
          required: true
          description: Term ID.
          schema:
            type: string
      responses:
        "200":
          description: "Census detail response. `export` returns a spreadsheet download rather than JSON."
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/CensusDetails"
              examples:
                getDetails:
                  summary: Census detail
                  value:
                    identifier: scoutid
                    items:
                      - scoutid: "3100003"
                        firstname: Sam
                        lastname: Lake
                        joined: "2022-03-01"
                        photo_guid: null
                        sex: ""
                        ethnicity: ""
                        disabilities: Edit disabilities
                        myscout: Send Parent Portal email
                        raw_disabilities: [ ]
                        _filterString: sam lake
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_census_getDetails
  "/ext/members/census/?action=sendMyScout":
    post:
      summary: Send Parent Portal invitations from the census
      description: "Request: inferred from the web app's code. Response: inferred from the web app's code."
      tags: [ Members ]
      x-source:
        request: inferred
        response: inferred
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ sendMyScout ]
      requestBody:
        content:
          "application/x-www-form-urlencoded":
            schema:
              type: object
              properties:
                section_id:
                  type: string
                "member_ids[]":
                  type: array
                  items:
                    type: string
                  description: Members to email the Parent Portal invitation.
              additionalProperties: true
            example:
              section_id: "45001"
              "member_ids[]": [ "3100003" ]
      responses:
        "200":
          description: "Action result. The web app reads nothing from the `updateDisabilities` response."
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/CensusSendMyScoutResult"
              examples:
                sendMyScout:
                  summary: Counts of emails sent and failed
                  value:
                    data:
                      sent_count: 1
                      failed_count: 0
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_census_sendMyScout
  "/ext/members/census/?action=updateDisabilities":
    post:
      summary: Update a member's census demographics and disabilities
      description: "Request: inferred from the web app's code. Response: not read by the web app's code."
      tags: [ Members ]
      x-source:
        request: inferred
        response: unknown
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ updateDisabilities ]
      requestBody:
        content:
          "application/x-www-form-urlencoded":
            schema:
              type: object
              properties:
                section_id:
                  type: string
                member_id:
                  type: string
                gender:
                  type: string
                ethnicity:
                  type: string
                religion:
                  type: string
                disabilities:
                  type: string
                  description: JSON array of selected disability names.
            example:
              member_id: "3100003"
              section_id: "45001"
              gender: Female
              ethnicity: ""
              religion: ""
              disabilities: "[\"No disability\"]"
      responses:
        "200":
          description: "Action result. The web app reads nothing from the `updateDisabilities` response."
          content:
            "application/json":
              schema:
                anyOf:
                  - $ref: "#/components/schemas/OkResponse"
                  - $ref: "#/components/schemas/CensusSendMyScoutResult"
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_census_updateDisabilities
  "/ext/members/contact/?action=getAdditionalRoles":
    get:
      summary: List a member's additional roles
      description: |-
        Request: inferred from the web app's code. Response: inferred from the web app's code.

        Retrieves member data. The `action` parameter controls the behavior.
        This endpoint is also used to return full member contact/emergency data
        (use with care for GDPR compliance).
      tags: [ Members ]
      x-source:
        request: inferred
        response: inferred
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getAdditionalRoles ]
        - name: section
          in: query
          required: false
          description: Section type.
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
        - name: section_id
          in: query
          required: false
          description: Section ID (alternate naming).
          schema:
            type: string
        - name: member_id
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Member data response.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/MemberAdditionalRoles"
              examples:
                additionalRoles:
                  summary: Additional roles for a member
                  value:
                    data:
                      - patrolleader: "4"
                        is_primary: "0"
                        start_date: "2024-09-01"
                        end_date: null
                        comments: Covering for camp
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_contact_getAdditionalRoles
  "/ext/members/contact/?action=getIndividual":
    get:
      summary: Get a member's details
      description: |-
        Request: observed in captured traffic, 2026-10-07. Response: observed in captured traffic, 2026-10-07.

        Retrieves member data. The `action` parameter controls the behavior.
        This endpoint is also used to return full member contact/emergency data
        (use with care for GDPR compliance).
      tags: [ Members ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-10-07"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getIndividual ]
        - name: sectionid
          in: query
          required: false
          description: Section ID.
          schema:
            type: string
        - name: termid
          in: query
          required: false
          description: Term ID.
          schema:
            type: string
        - name: scoutid
          in: query
          required: false
          description: Member unique identifier.
          schema:
            type: string
        - name: context
          in: query
          required: false
          description: Context for member detail retrieval.
          schema:
            type: string
            enum: [ members ]
      responses:
        "200":
          description: Member data response.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/MemberDetail"
              examples:
                memberDetail:
                  summary: Member detail
                  value:
                    ok: true
                    read_only: [ ]
                    data:
                      scoutid: "3100001"
                      firstname: Jamie
                      lastname: River
                      dob: "2015-04-22"
                      started: "2021-09-01"
                      sectionid: 45001
                      active: true
                    meta: [ ]
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_contact_getIndividual
  "/ext/members/contact/?action=getListOfMembers":
    get:
      summary: List a section's members
      description: |-
        Request: observed in captured traffic, 2026-10-05. Response: observed in captured traffic, 2026-10-05.

        Retrieves member data. The `action` parameter controls the behavior.
        This endpoint is also used to return full member contact/emergency data
        (use with care for GDPR compliance).
      tags: [ Members ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-10-05"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getListOfMembers ]
        - name: sectionid
          in: query
          required: false
          description: Section ID.
          schema:
            type: string
        - name: termid
          in: query
          required: false
          description: Term ID.
          schema:
            type: string
        - name: section
          in: query
          required: false
          description: Section type.
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
        - name: sort
          in: query
          required: false
          description: Sort order for list of members.
          schema:
            type: string
            enum: [ dob, firstname, lastname, patrol ]
      responses:
        "200":
          description: Member data response.
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/MembersList"
              examples:
                membersList:
                  summary: Members list
                  value:
                    identifier: scoutid
                    photos: true
                    items:
                      - firstname: Jamie
                        lastname: River
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        patrolid: 12001
                        patrol: Blue
                        sectionid: 45001
                        enddate: null
                        age: "10 / 2"
                        patrol_role_level_label: Sixer
                        active: true
                        scoutid: 3100001
                        full_name: Jamie River
        default:
          $ref: "#/components/responses/ExtError"
      operationId: ext_members_contact_getListOfMembers
  "/ext/members/contact/?action=getMemberTransfers":
    get:
      summary: List member transfers for a section
      description: |-
        Request: observed in captured traffic, 2026-10-07. Response: observed in captured traffic, 2026-10-07.

        Retrieves member data. The `action` parameter controls the behavior.
        This endpoint is also used to return full member contact/emergency data
        (use with care for GDPR compliance).
      tags: [ Members ]
      x-source:
        request: observed
        response: observed
        observed_on: "2026-10-07"
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getMemberTransfers ]
        - name: mode
          in: query
          required: false
          description: "Display mode (observed value `grid`)."
          schema:
            type: string
        - name: section_id
          in: query
          required: false
          description: Section ID (alternate naming).
          schema:
            type: string
      responses:
        "200":
          description: Member data response.
          content:
            "application/json":
              schema:
                type: object
[...]
