openapi: 3.0.3
info:
  title: Online Scout Manager API (Unofficial)
  version: 0.2.0
  description: |
    Unofficial OpenAPI definition derived from the OSM API docs in this repo.
    This describes only endpoints observed by City of Newcastle Scouts.
    We highly recommend you read OSM's documentation on rate limits on APIs,
    to avoid your account being locked out.
servers:
  - url: https://www.onlinescoutmanager.co.uk
  - url: https://onlinescoutmanager.co.uk
tags:
  - name: Startup
    description: Session bootstrap and general metadata.
  - name: Members
    description: Member lists, details, patrols, and census.
  - name: Attendance
    description: Member attendance and badge requirements.
  - name: Custom Data
    description: Custom data groups and updates.
  - name: Email
    description: Member contact email selection and templates.
  - name: Programme
    description: Programme summaries, meetings, and attachments.
  - name: Badges
    description: Badge-related programme metadata.
  - name: Dashboard
    description: Dashboard summaries and next things.
  - name: Risk Assessments
    description: Programme risk assessment categories.
paths:
  /ext/generic/startup/:
    get:
      summary: Get startup data
      tags:
        - Startup
      description: |
        Returns startup and session data depending on the `action` parameter.

        **`action=getData` has been permanently removed** — this action was removed without
        notice. HTTP 410 Gone is the only response you will ever receive for this action.
        It will not be reinstated. Migrate to `action=getDataPayload`.

        **`action=getDataPayload`** returns a JSON payload containing CDN resource URLs,
        user globals, section roles and permissions, user preferences, terms, and session
        metadata needed to bootstrap the application after login.

        **`action=getConfigPayload`** returns global, non-user-specific site configuration:
        section type definitions, patrol role labels, beta features, upgrade pricing, feature
        flags, recipe metadata, and form configurations.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getData, getDataPayload, getConfigPayload]
          description: |
            `getData` — **permanently removed**, HTTP 410 Gone is the only reply.
            `getDataPayload` — returns the full JSON startup payload.
            `getConfigPayload` — returns global site configuration.
      responses:
        "200":
          description: JSON startup payload (schema varies by `action`; see examples).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/StartupDataPayload"
                  - $ref: "#/components/schemas/StartupConfigPayload"
              examples:
                getDataPayload:
                  summary: Response for action=getDataPayload
                  value:
                    status: true
                    error: null
                    data:
                      cdn: "https://oymcdn.co.uk/"
                      resources:
                        - "/built/postlogin-combined/postlogin-combined-abc123.js"
                        - "/built/global/global-abc123.js"
                        - "/built/style-main-blue/style-main-blue-abc123.css"
                        - "/built/highcharts/highcharts-abc123.js"
                        - "/built/vendors/vendors-abc123.js"
                        - "/built/runtime/runtime-abc123.js"
                        - "/built/menu/menu-abc123.js"
                      config_hash: "abc123def456abc123def456abc123de"
                      required_cdn_built_files:
                        osm.js: "https://oymcdn.co.uk/built/osm/osm-abc123.js"
                        react.js: "https://oymcdn.co.uk/built/react/react-abc123.js"
                      cache_bust: "v=abc123"
                      globals:
                        post_login_action: false
                        theme: "blue"
                        userid: 100001
                        roles:
                          - groupname: "Example Scout Group"
                            groupid: "10001"
                            group_country: "uk"
                            sectionid: "45001"
                            sectionname: "Beavers"
                            section: "beavers"
                            isDefault: "0"
                            permissions:
                              badge: 20
                              member: 20
                              user: 100
                              register: 20
                              programme: 20
                              events: 20
                              flexi: 20
                              finance: 100
                              quartermaster: 20
                            sectionConfig:
                              subscription_level: 3
                              subscription_expires: "2027-01-01"
                              section_type: "beavers"
                              sectionType: "beavers"
                              parentSectionId: "0"
                              subscription_active: false
                              meeting_day: "Mon"
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: "level_0"
                          - groupname: "Example Scout Group"
                            groupid: "10001"
                            group_country: "uk"
                            sectionid: "45002"
                            sectionname: "Cubs"
                            section: "cubs"
                            isDefault: "1"
                            permissions:
                              badge: 20
                              member: 20
                              user: "100"
                              register: 20
                              programme: 20
                              events: 20
                              flexi: 20
                              quartermaster: 20
                              finance: 100
                            sectionConfig:
                              subscription_level: 3
                              subscription_expires: "2027-01-01"
                              section_type: "cubs"
                              sectionType: "cubs"
                              parentSectionId: "0"
                              subscription_active: false
                              meeting_day: "Wed"
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: "level_0"
                          - groupname: "Example Scout Group"
                            groupid: "10001"
                            group_country: "uk"
                            sectionid: "45003"
                            sectionname: "Leaders"
                            section: "adults"
                            isDefault: "0"
                            permissions:
                              badge: 100
                              member: 100
                              user: 100
                              register: 100
                              contact: 100
                              programme: 100
                              events: 100
                              finance: 100
                              flexi: 100
                              quartermaster: 100
                            sectionConfig:
                              subscription_level: 1
                              subscription_expires: "2027-01-01"
                              section_type: "adults"
                              sectionType: "adults"
                              parentSectionId: "0"
                              subscription_active: false
                              hierarchy_lowest_level: false
                              hierarchy_operating_level: "level_0"
                        active_user_member: false
                        associated_member_id: false
                        email: "leader@example.org"
                        firstname: "Alex"
                        lastname: "Scout"
                        fullname: "Alex Scout"
                        preferences:
                          logins: "100"
                          theme: "blue"
                          date: "uk"
                          sort: "dob"
                          has_assistive_technology: false
                          hotkeys_enabled: false
                          disable_animations: false
                          beta: false
                          beta_functions: []
                        member_access:
                          "45002":
                            name: "Example Scout Group: Cubs"
                            group: "Example Scout Group"
                            section: "Cubs"
                            abbrv: "Cubs"
                            type: "cubs"
                            label: "Cubs"
                            members:
                              "2100001":
                                first_name: "Alex"
                                last_name: "Scout"
                                photo_guid: "00000000-0000-0000-0000-000000000000"
                                abbrv_name: "Alex"
                                chat_rooms: []
                                access_type: "member"
                                has_unread_chat_rooms: false
                                permissions: true
                                patrol: "Leaders"
                            access: true
                            config:
                              badges: true
                              programme: true
                              emailbolton: true
                              details: true
                              events: true
                              chat: false
                              at_home: false
                              email_address: "Example Scout Group Cubs <cubs@example.org>"
                              giftaid: true
                              payments: true
                              attachments: false
                              photos: true
                            noticeboard: false
                            patrol_label: "Six"
                        member_access_unactivated: false
                        terms:
                          "45002":
                            - termid: "200001"
                              sectionid: "45002"
                              name: "Summer 2025"
                              startdate: "2025-04-01"
                              enddate: "2025-07-31"
                              master_term: null
                              past: true
                            - termid: "200002"
                              sectionid: "45002"
                              name: "Autumn 2025"
                              startdate: "2025-09-01"
                              enddate: "2025-12-31"
                              master_term: null
                              past: false
                        global_roles: []
                        hasSectionAccess: true
                        notepads: []
                        sockets: "45001-abc123,45002-abc123,45003-abc123"
                        user_socket: "100001-abc123"
                        session_id: "abc123def456abc123def456abc123def456abc123def456abc123def456abc1"
                        security_prompt: false
                        user_has_image: "/sites/onlinescoutmanager.co.uk/public/user_photos/100000/100001/00000000-0000-0000-0000-000000000000"
                        user_hash: "abc123def456abc123def456abc123def456abc123def456abc123def456abc1"
                        user_hash_legacy: "abc123def456abc123def456abc123def456abc123def456abc123def456abc1"
                        language: "en-GB"
                        gamification:
                          "1":
                            total_steps: 3
                            steps_completed: 2
                            id: 1
                          events:
                            total_steps: 10
                            steps_completed: 7
                            id: 2
                        gamification_rank: 500
                        gamification_total: 100000
                        features_used:
                          - "accessed"
                          - "viewed events"
                          - "edited attendance register"
                          - "sent email"
                        unread_message_count: 0
                        client_time: "1700000000000"
                      dojo:
                        cacheBust: "v=abc123"
                        locale: "en-gb"
                    meta: []
                getConfigPayload:
                  summary: Response for action=getConfigPayload
                  value:
                    status: true
                    error: null
                    data:
                      site_type: "scouts"
                      site_folder: "sites/onlinescoutmanager.co.uk/site"
                      siteConfig:
                        disableParentRota: false
                        expense_cards:
                          fees:
                            card_issuing: 10
                            lost_dispute: 20
                            fx_percentage: 3
                            cross_border:
                              percentage: 2
                              fixed: 0.3
                          maximum_overdrawn_charges: 10
                        online_payment_gateways:
                          - "gocardless"
                          - "stripe"
                        beta:
                          - key: "recipes"
                            title: "Recipes & Event Menus"
                            description: "Community driven recipe database with instructions for young people."
                            role: "all"
                            release_ts: 1638205905
                          - key: "waiting_list_invites"
                            title: "Waiting List Invites"
                            description: "Adds survey and invitation features to waiting list Personal Details."
                            role: "all"
                            release_ts: 1772443731
                            feedback:
                              min_usage: 1
                              mode: "new"
                              feature: "waiting list survey or invitation"
                          - key: "scheduled_emails"
                            title: "Scheduled Emails"
                            description: "Adds a Send later option when composing emails to members."
                            role: "all"
                            release_ts: 1779355830
                            feedback:
                              min_usage: 3
                              mode: "new"
                              feature: "scheduled email"
                          - key: "back_button"
                            title: "Browser's Back Button"
                            description: "Browser back button now closes dialogs and navigates between tabs."
                            role: "all"
                            release_ts: 1782137873
                            feedback:
                              min_days: 14
                              mode: "new"
                        boltons:
                          b: "badges"
                          c: "campsiteexternalbookings"
                          d: "details"
                          e: "events"
                          m: "emailbolton"
                          p: "programme"
                          a: "accounts"
                          f: "filestorage"
                          r: "chat"
                          i: "ai"
                          t: "tasks"
                          h: "at_home"
                        hasOnlinePayments: true
                        upgrade_config:
                          badges:
                            price: 1
                          events:
                            price: 10
                          ai:
                            price: 7.5
                          programme:
                            price: 1
                          details:
                            price: 2.5
                          emailbolton:
                            price: 4.5
                          filestorage:
                            price: 5
                          silver:
                            price: 18
                          gold:
                            price: 24
                          campsiteexternalbookings:
                            price: 36
                          chat:
                            price: 2.5
                          at_home:
                            price: 10
                          accounts:
                            price: 20
                          tasks:
                            price: 2.5
                        sms_prices:
                          "250": 14.25
                          "500": 28
                          "1000": 55
                        hideSmsOriginator: false
                        filestorage_bolton: true
                        chat_bolton: true
                        whatsnew: true
                        risk_assessments: true
                        recipes:
                          meals: ["breakfast", "snack", "lunch", "dinner", "pudding", "drink"]
                          methods: ["stove", "oven", "fire", "dutch", "expedition", "no-cooking"]
                          suitability: ["vegetarian", "vegan", "gluten", "dairy", "nuts", "wheat", "fish", "shellfish", "egg", "oatmeal", "soya"]
                          allergies: ["meat", "animal", "gluten", "dairy", "nuts", "wheat", "fish", "shellfish", "egg", "oatmeal", "soya"]
                          aisles: ["dairy", "deli", "bakery", "vegetable", "fruit", "fish", "frozen", "meat", "canned", "condiments", "dried", "drink", "snack", "simple", "cereal", "cleaning", "other"]
                        hideMyPermissions: false
                        events_attachments_quota: 50
                        events_attachments_quota_private: -1
                        user_can_delete_section: true
                        add_invoices_to_events: false
                        hide_user_active_subscriptions: false
                        user_can_rename_self: true
                        members_discoverable: false
                        event_approvals_config:
                          assign: false
                        events_force_allow_changes: "configurable"
                        events_prevent_deadline_change: false
                        hide_age_after: 25
                        hq_terms: false
                        default_currency: "GBP"
                        ask_communication_preferences: false
                        email_list_domain: "lists.onlinescoutmanager.co.uk"
                        waiting_list_application: ["contact_primary_1", "contact_primary_2"]
                        myscout: "Parent Portal"
                        communicatable_emails_use_opt_ins: []
                        allowFutureJoinedMovement: false
                        joinedMovementOptional: false
                        hideExternalAccess: false
                        support_network: false
                        support_network_personal: false
                        support_network_disabled_section_types: []
                        event_shared_member_record_cards: false
                        language: "en-GB"
                        available_languages:
                          en-GB: "English (British)"
                        disable_patrol_points: false
                        disable_help_videos: false
                        file_proxy: "https://files.onlineyouthmanager.co.uk/"
                        cdn: "oymcdn.co.uk"
                        global_cdn: "oymcdn.co.uk"
                        hide_upgrades: false
                        root_url: "https://www.onlinescoutmanager.co.uk"
                        url_www: "www.onlinescoutmanager.co.uk"
                        fullname: "Online Scout Manager"
                        myscout_email: "myscout@onlinescoutmanager.co.uk"
                        section_types:
                          uk:
                            earlyyears: "Squirrels"
                            beavers: "Beavers"
                            cubs: "Cubs"
                            scouts: "Scouts"
                            explorers: "Explorers"
                            network: "Network"
                            adults: "Adults"
                          navigators:
                            juniornavigators: "Juniors"
                            seniornavigators: "Seniors"
                          au:
                            ausscouts: "Scouts"
                            aucubs: "Cubs"
                            aujoeys: "Joeys"
                        badge_types:
                          uk: ["challenge", "staged", "core", "activity"]
                          au: ["activity", "challenge"]
                        adult_section_types: ["adults"]
                        adult_section_types_emailable: ["adults"]
                        youth_section_types: ["earlyyears", "beavers", "cubs", "scouts", "explorers", "network", "juniornavigators", "seniornavigators", "aujoeys", "aucubs", "ausscouts", "campsite"]
                        free_sections: ["adults", "waiting", "campsite", "national"]
                        abbr: "osm"
                        facebookpage: "onlinescoutmanager"
                        personaldetails_configurable: true
                        colour_primary: "4d2177"
                        colour_secondary: "84a40b"
                        colour_tertiary: "8b0066"
                        default_currency_symbol: "£"
                        communicatable_contact_groups:
                          default:
                            contact_primary_1: "Primary Contact 1"
                            contact_primary_2: "Primary Contact 2"
                            contact_primary_member: "Member"
                          campsite:
                            contact_primary_campsite: "Customer"
                        section_type_setup:
                          beavers:
                            ai_risk_activities: true
                            programme: true
                            events: true
                            flexi: true
                            quartermaster: true
                            attendance: true
                            finances: true
                            giftaid: true
                            patrols: true
                            subscription: true
                            badgeMenu: true
                            isScout: true
                            showStartedSection: true
                            isDOBNeeded: true
                            isWaiting: false
                            isAdult: false
                            useTerms: true
                            showDetails: true
                            campDirectory: true
                            census: true
                            allowSMS: true
                            showCountry: true
                            myscout: true
                            onlinepayments: true
                            waitingListType: "waiting"
                            badgeTitle: "Badges"
                            showSectionSizePredictor: true
                            showBadgesByPerson: true
                            sectionSizePredictor:
                              earlyyears: 2190
                              beavers: 2920
                              cubs: 3832
                              scouts: 5110
                              explorers: 6570
                              network: 9125
                            section_colours_ages:
                              earlyyears: ["#ca1a10", 4, 6]
                              beavers: ["#0099FF", 6, 8]
                              cubs: ["#33CC00", 8, 10.5]
                              scouts: ["#006666", 10.5, 14]
                              explorers: ["#999966", 14, 18]
                              network: ["#4d2177", 18, 25]
                              waiting: ["#999999", -1, -1]
                            fileStorage: true
                            badgeStock: true
                            badges:
                              challenge:
                                type: "challenge"
                                singular: "Challenge"
                                menu: "Challenge"
                                title: "Challenge Badges"
                                type_id: 1
                              activity:
                                type: "activity"
                                singular: "Activity"
                                menu: "Activity"
                                title: "Activity Badges"
                                type_id: 2
                              staged:
                                type: "staged"
                                singular: "Staged"
                                menu: "Staged"
                                title: "Staged Badges"
                                type_id: 3
                              core:
                                type: "core"
                                singular: "Core"
                                menu: "Core"
                                title: "Core Badges"
                                type_id: 4
                            audit_trail:
                              member:
                                note_types: ["notes", "received-email", "received-phonecall", "received-letter", "sent-email", "sent-phonecall", "sent-letter"]
                              section:
                                note_types: ["notes"]
                            showParentPortalLoginHistory: true
                            hasYoungLeadersPatrol: true
                            hideUpgrades: false
                          adults:
                            programme: true
                            events: true
                            flexi: true
                            quartermaster: true
                            giftaid: true
                            attendance: false
                            finances: true
                            badgeTitle: "Records"
                            subscription: false
                            badgeMenu: false
                            isDOBNeeded: false
                            isScout: false
                            showStartedSection: true
                            isAdult: true
                            myscout: true
                            patrols: true
                            isWaiting: false
                            showDetails: true
                            useTerms: true
                            waitingListType: "waiting"
                            allowSMS: true
                            showYouthBadgeLinks: false
                            showCountry: true
                            census: true
                            onlinepayments: true
                            fileStorage: true
                            badges:
                              challenge:
                                type: "challenge"
                                singular: "Records"
                                menu: "Records"
                                title: "Records"
                                type_id: 1
                            audit_trail:
                              member:
                                note_types: ["notes", "received-email", "received-phonecall", "received-letter", "sent-email", "sent-phonecall", "sent-letter"]
                              section:
                                note_types: ["notes"]
                            showParentPortalLoginHistory: true
                            excludeFromHierarchy: true
                            hideUpgrades: false
                          waiting:
                            programme: false
                            events: false
                            flexi: true
                            attendance: false
                            patrols: false
                            finances: false
                            subscription: false
                            badgeMenu: false
                            isScout: false
                            showStartedSection: false
                            isDOBNeeded: true
                            showSectionSizePredictor: true
                            isAdult: false
                            isWaiting: true
                            showDetails: true
                            useTerms: false
                            allowSMS: true
                            waitingListType: "waiting"
                            showYouthBadgeLinks: false
                            badges: []
                            audit_trail:
                              member:
                                note_types: ["notes", "received-email", "received-phonecall", "received-letter", "sent-email", "sent-phonecall", "sent-letter"]
                              section:
                                note_types: ["notes"]
                            showParentPortalLoginHistory: true
                            excludeFromHierarchy: true
                            hideUpgrades: false
                          discount:
                            programme: false
                            events: false
                            flexi: false
                            attendance: false
                            finances: false
                            subscription: false
                            badgeMenu: false
                            isScout: false
                            showStartedSection: false
                            isDOBNeeded: false
                            isAdult: false
                            isWaiting: false
                            isDiscount: true
                            hideForum: true
                            useTerms: false
                            allowSMS: false
                            hideUpgrades: true
                            showDetails: false
                            badges: []
                            audit_trail:
                              member:
                                note_types: ["notes", "received-email", "received-phonecall", "received-letter", "sent-email", "sent-phonecall", "sent-letter"]
                              section:
                                note_types: ["notes"]
                            showParentPortalLoginHistory: false
                            excludeFromHierarchy: true
                            disableOffline: true
                        buy_links:
                          due_badge_bags: "https://example.com/due-badge-bags"
                        feature_preview: []
                        risk_assessments_config:
                          mode: "freeform"
                          reuse_programme: true
                          reuse_events: true
                          residual_risk: false
                          who: true
                          has_generic_events: true
                          has_activities: true
                        tld: "onlinescoutmanager.co.uk"
                        accounting: true
                        accounting_expense_cards: true
                        activity_database: true
                        ai: true
                        api_manage_hq: false
                        badge_homework: true
                        badge_show_completion_certificate: false
                        badge_wizard: true
                        campaign_template_designs: ["purpleandgreen", "lightblue", "darkblue", "turquoise", "purpleandpink", "purple", "default", "blank"]
                        deletable_users: true
                        duplicate_member_checks: false
                        elearning_editor: false
                        elearning_viewer: false
                        email_from_reports: []
                        email_signatures: true
                        email_template_colours: ["#ffffff", "#000000", "#ffcd00", "#ff8200", "#ba0c2f", "#7C3A2D", "#AD1AAC", "#7413dc", "#4d2177", "#003DA5", "#002855", "#0095C8", "#004851", "#00594F", "#00a794", "#009A44", "#84A40B", "#8C857B"]
                        event_directions: true
                        event_duplicate: true
                        event_types_single_select: false
                        events_additional_information: []
                        events_approvals: false
                        events_at_home: true
                        events_parent_rota: true
                        events_past_read_only: false
                        events_personal_details_confirmation_restriction: "standard_fields:confirmation:24267"
                        events_summary_approval_status_highlights: []
                        events_v2: true
                        group_badges: true
                        group_dashboard: true
                        hasJoinedMovement: true
                        has_main_section_per_person: false
                        help_websites: false
                        hierarchy_sms: false
                        hq_support: false
                        kill:
                          built_files: false
                          built_files_admin: false
                          cdn: false
                          cdn_admin: false
                          extralogging: false
                          extralogging_admin: false
                          gilbert: false
                          gilbert_admin: false
                          gilbert_bedrock: false
                          gilbert_bedrock_admin: false
                          gilbert_support: false
                          gilbert_support_admin: false
                          gocardless: false
                          gocardless_admin: false
                          intrusiondetection: false
                          intrusiondetection_admin: false
                          offlinedata: false
                          offlinedata_admin: false
                          proxysql: false
                          proxysql_admin: false
                          sms: false
                          sms_admin: false
                        kit_lists: true
                        leader_parent_portal_file_storage_without_upgrade: false
                        lockdown_email_from_address: false
                        member_deletion_review: true
                        member_elsewhere_review: false
                        member_erase_extra_data: ["badge", "events", "register", "finance"]
                        member_removal_warn_if_active: false
                        member_view_email_history: false
                        member_view_own_badge_details: false
                        members_users_linked: false
                        members_users_linked_edit: false
                        mymember_access_restrictions: "section"
                        national_opt_in_or_out: false
                        national_opt_in_or_out_sms: false
                        national_parent_portal_file_storage: false
                        organisation_import: false
                        parent_portal_auto_join: "opt-in"
                        parent_portal_date_of_birth_custom_data_group: "standard_fields"
                        parent_portal_thank_you_messages: true
                        prevent_import_spreadsheet: false
                        prevent_leader_edit_portal_templates: false
                        programme_primary_leader: true
                        programmes_at_home: true
                        purge_event_audit_trail: 3
                        remove_member_allowed_functions:
                          default: ["keepname", "keepcontact", "keepall", "delete", "erase"]
                        require_global_role_inactive_searches: false
                        schedule_emails: true
                        section_edit_details: false
                        section_edit_details_mode: "all_sections"
                        section_editable_locations: false
                        section_requires_two_admins: true
                        shared_events_opt_in_email: true
                        showCommentsOnAllDashboards: false
                        show_additional_roles_dates_comments: false
                        show_community_help_forum: true
                        show_feature_requests: true
                        summary_dashboards: false
                        to_do_tasks: true
                        urgent_event_approvals: -1
                      patrolLabels:
                        scouts:
                          patrol: "Patrol"
                          patrols: "Patrols"
                        cubs:
                          patrol: "Six"
                          patrols: "Sixes"
                        beavers:
                          patrol: "Lodge"
                          patrols: "Lodges"
                        explorers:
                          patrol: "Patrol"
                          patrols: "Patrols"
                        network:
                          patrol: "Patrol"
                          patrols: "Patrols"
                        adults:
                          patrol: "Section / Role"
                          patrols: "Sections"
                        earlyyears:
                          patrol: "Nest"
                          patrols: "Nests"
                        juniornavigators:
                          patrol: "Team"
                          patrols: "Teams"
                        seniornavigators:
                          patrol: "Team"
                          patrols: "Teams"
                        aucubs:
                          patrol: "Six"
                          patrols: "Sixes"
                      patrolRoles:
                        scouts:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: "Assistant Patrol Leader"
                            abbr: "APL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: "Patrol Leader"
                            abbr: "PL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: "Senior Patrol Leader"
                            abbr: "SPL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        cubs:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: "Seconder"
                            abbr: "2nd"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: "Sixer"
                            abbr: "6er"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: "Senior Sixer"
                            abbr: "S6er"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        beavers:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: "Assistant Lodge Leader"
                            abbr: "ALL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: "Lodge Leader"
                            abbr: "LL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: "Senior Lodge Leader"
                            abbr: "SLL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        explorers:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 1
                            label: "Assistant Patrol Leader"
                            abbr: "APL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 2
                            label: "Patrol Leader"
                            abbr: "PL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          - level: 3
                            label: "Senior Patrol Leader"
                            abbr: "SPL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        earlyyears:
                          - level: 0
                            label: "Normal"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                        adults:
                          "0":
                            level: 0
                            label: "Unspecified"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "1":
                            level: 1
                            label: "Section Team Member"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "2":
                            level: 2
                            label: "Section Team Leader"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "3":
                            level: 3
                            label: "Young Leader"
                            abbr: "YL"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "6":
                            level: 6
                            label: "Group Lead Volunteer"
                            abbr: "GLV"
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "7":
                            level: 7
                            label: "Chair"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "8":
                            level: 8
                            label: "Treasurer"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "9":
                            level: 9
                            label: "Secretary"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                          "15":
                            level: 15
                            label: "Trustee"
                            abbr: ""
                            changes: null
                            census_costs: false
                            visibility: 0
                            allow_duplicates: true
                            archived: 0
                      extraSectionTypes:
                        staged: "n/a"
                        adults: "Adults"
                        aucubs: "Australian Cubs"
                        zadventure: "Adventure"
                        campsite: "Campsite"
                        national: "National Office"
                      featurelevels:
                        addbadge: 3
                        badgeeligibility: 3
                        badge_records: 1
                        badgepdf: 3
                        badgespreadsheet: 3
                        calendarsync: 3
                        census: 3
                        eventdownload: 3
                        events: 2
                        eventsharing: 2
                        exportemail: 2
                        exportpatrolpdf: 3
                        extrapdf: 3
                        extras: 2
                        filestorage: 3
                        finances: 3
                        genericpdf: 3
                        giftaid: 3
                        helloworld: 99
                        ics: 3
                        intouchpdf: 2
                        mobile: 2
                        outstanding: 2
                        printoutstanding: 3
                        programmepdf: 3
                        quartermaster: 3
                        recordcard: 3
                        register: 2
                        registerpdf: 3
                        reporting: 1
                        sendemail: 2
                        sharebadgestock: 3
                        showprogrammeinbadgerecords: 3
                        spreadsheet: 3
                        survey: 3
                        recipes: 3
                        risk_assessments: 3
                        badgewizard: 3
                        activity: 2
                        badgestock: 1
                        programme: 1
                        accidentforms: 3
                      changedlevels: []
                      availableRoles:
                        nobody: "Nobody"
                        siteadministrator: "OSM Site Administrator"
                      globalAccessRoles:
                        - user_role: "siteadministrator"
                          access_type: "kill_switches"
                          id: "n/a"
                        - user_role: "_support"
                          access_type: "audit_member_support"
                          id: "*"
                        - user_role: "_support"
                          access_type: "grant_access"
                          id: "*"
                        - user_role: "_all"
                          access_type: "preview_badge_wizard"
                          id: "n/a"
                        - user_role: "badge_orders"
                          access_type: "online_badge_order"
                          id: "*"
                      terminology:
                        Level_1: "Group"
                        Level_2: "District"
                        Level_3: "County"
                        Level_4: "Region/Area"
                        Level_5: "Country"
                        Level_6: "Association"
                      forms:
                        - name: "Accident Forms"
                          menu_config:
                            - reference: "ext.members.health"
                              menu: "members"
                              area: "members"
                              offline: false
                              order: 10
                              subscription_feature: "accidentforms"
                              title: "Accident Forms"
                              title_is_translated: true
                              react: "ext_forms_FormListPane"
                        - name: "Medication History"
                          menu_config:
                            - reference: "ext.members.medication"
                              menu: "members"
                              area: "members"
                              offline: false
                              order: 11
                              subscription_feature: "accidentforms"
                              title: "Medication History"
                              title_is_translated: true
                              react: "ext_forms_FormListPane"
                        - name: "Incident Logs"
                          menu_config:
                            - reference: "ext.members.incidents"
                              menu: "members"
                              area: "members"
                              offline: false
                              order: 15
                              subscription_feature: "accidentforms"
                              title: "Incident Logs"
                              title_is_translated: true
                              react: "ext_forms_FormListPane"
                        - name: "Entrepreneur Fund"
                          menu_config:
                            - reference: "ext.forms.entrepreneur"
                              menu: "sectionadmin"
                              area: "grants"
                              offline: false
                              order: 1000
                              subscription_feature: "accidentforms"
                              title: "Entrepreneur Fund"
                              title_is_translated: true
                              react: "ext_forms_FormListPane"
                      default_terminology:
                        section: "section"
                        sections: "sections"
                        Section: "Section"
                        Sections: "Sections"
                        Group: "Group"
                        group: "group"
                        District: "District"
                        Level_1: "Group"
                        Level_2: "District"
                        Level_3: "Area"
                        Level_4: "Country"
                        Level_5: ""
                        Level_6: ""
                      leaderPatrolIds:
                        - -2
                        - -3
                    meta: []
        "410":
          description: |
            Gone — `action=getData` has been permanently removed. HTTP 410 Gone is
            the only reply you will ever receive for that action.
  /ext/members/contact/:
    get:
      summary: Get list of members or individual member details
      tags:
        - Members
      description: |
        Retrieves member data. The `action` parameter controls the behavior.
        This endpoint is also used to return full member contact/emergency data
        (use with care for GDPR compliance).
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getListOfMembers, getIndividual, getMemberTransfers]
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: false
          schema:
            type: string
          description: Term ID.
        - name: section
          in: query
          required: false
          schema:
            type: string
            enum: [squirrels, beavers, cubs, scouts, explorers]
          description: Section type.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [dob, firstname, lastname, patrol]
          description: Sort order for list of members.
        - name: scoutid
          in: query
          required: false
          schema:
            type: string
          description: Member unique identifier.
        - name: context
          in: query
          required: false
          schema:
            type: string
            enum: [members]
          description: Context for member detail retrieval.
        - name: mode
          in: query
          required: false
          schema:
            type: string
          description: Display mode (observed value `grid`).
        - name: section_id
          in: query
          required: false
          schema:
            type: string
          description: Section ID (alternate naming).
      responses:
        "200":
          description: Member data response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/MembersList"
                  - $ref: "#/components/schemas/MemberDetail"
                  - $ref: "#/components/schemas/MemberTransfers"
                additionalProperties: true
              examples:
                membersList:
                  summary: Members list
                  value:
                    identifier: scoutid
                    photos: true
                    items:
                      - firstname: Jamie
                        lastname: River
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        patrolid: 12001
                        patrol: Blue
                        sectionid: 45001
                        enddate: null
                        age: "10 / 2"
                        patrol_role_level_label: Sixer
                        active: true
                        scoutid: 3100001
                        full_name: "Jamie River"
                memberDetail:
                  summary: Member detail
                  value:
                    ok: true
                    read_only: []
                    data:
                      scoutid: "3100001"
                      firstname: Jamie
                      lastname: River
                      dob: "2015-04-22"
                      started: "2021-09-01"
                      sectionid: 45001
                      active: true
                    meta: []
                memberTransfers:
                  summary: Member transfers
                  value:
                    status: true
                    error: null
                    data:
                      - direction: from
                        member_id: 3100002
                        firstname: Riley
                        lastname: Park
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        type: transferred
                        date: "2024-01-15"
                        section_id: 65001
                        section_name:
                          group: "Example Scout Group"
                          section: Scouts
                        section_long: "Example Scout Group: Scouts"
                        mode: outgoing
                        id: "outgoing-123456"
                    meta: []
  /ext/members/email/:
    get:
      summary: Get selected contact emails
      tags:
        - Email
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getSelectedEmailsFromContacts]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
      responses:
        "200":
          description: Selected emails for contacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelectedContactEmails"
              example:
                emails:
                  "2526072":
                    emails:
                      - "parent@example.org"
                      - "guardian@example.org"
                    firstname: "Jamie"
                    lastname: "River"
                    photo_guid: "00000000-0000-0000-0000-000000000000"
                    member_id: 2526072
                count: 2
                blocks: []
                daily_limit_reached: false
    post:
      summary: Send an email template
      tags:
        - Email
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [sendTemplate]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
            example:
              subject: "Example Email"
              sectionid: "45998"
              emails: "{\"2526072\":{\"firstname\":\"Jamie\",\"lastname\":\"River\",\"member_id\":2526072,\"emails\":[\"parent@example.org\"]}}"
              edits: "{\"0\":{\"0\":{\"text\":\"<p>Example</p>\"}}}"
      responses:
        "200":
          description: Email send response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
              example:
                ok: true
  /ext/members/patrols/:
    get:
      summary: Get patrols with members
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getPatrolsWithPeople]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: include_no_patrol
          in: query
          required: false
          schema:
            type: string
            enum: [y, n]
          description: Include pseudo-patrol for members not in a patrol.
      responses:
        "200":
          description: Patrol list keyed by patrol ID.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                "-2":
                  patrolid: "-2"
                  sectionid: "-2"
                  name: Leaders
                  active: "1"
                  points: "0"
                  census_costs: false
                  members: []
                "12001":
                  patrolid: "12001"
                  sectionid: "45001"
                  name: Blue
                  active: "1"
                  points: "2"
                  census_costs: false
                  members:
                    - firstname: Jamie
                      lastname: River
                      scout_id: 3100001
                      photo_guid: "00000000-0000-0000-0000-000000000000"
                      patrolid: 12001
                      patrolleader: "0"
                      patrol: Blue
                      sectionid: 45001
                      enddate: null
                      age: "10 / 2"
                      patrol_role_level_label: Sixer
                      active: 1
                      scoutid: 3100001
                      editable: true
  /ext/members/census/:
    get:
      summary: Get census details
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getDetails]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
      responses:
        "200":
          description: Census detail response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CensusDetails"
              example:
                identifier: scoutid
                items:
                  - scoutid: "3100003"
                    firstname: Sam
                    lastname: Lake
                    joined: "2022-03-01"
                    photo_guid: null
                    sex: ""
                    ethnicity: ""
                    disabilities: "Edit disabilities"
                    myscout: "Send Parent Portal email"
                    raw_disabilities: []
                    _filterString: "sam lake"
  /ext/members/flexirecords/:
    get:
      summary: Get flexi-records
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getPatrolsWithPeople]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: archived
          in: query
          required: false
          schema:
            type: string
            enum: [y, n]
          description: Toggle archived flexi-records.
      responses:
        "200":
          description: Flexi-record list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlexiRecords"
              example:
                identifier: extraid
                label: name
                items:
                  - extraid: "23001"
                    name: "Hike Log"
  /ext/members/attendance/:
    get:
      summary: Get attendance data or badge requirements
      tags:
        - Attendance
      description: |
        Attendance endpoints share this path with different `action` values.
        Use `get` for attendance records or `getAttendanceBadgeRequirements`
        for badge requirements tied to a date.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [get, getAttendanceBadgeRequirements]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: false
          schema:
            type: string
          description: Term ID (required for `action=get`).
        - name: section
          in: query
          required: true
          schema:
            type: string
          description: Section type (e.g., `cubs`).
        - name: nototal
          in: query
          required: false
          schema:
            type: string
          description: Toggle total attendance column (observed `true`).
        - name: date
          in: query
          required: false
          schema:
            type: string
          description: Meeting date (required for `action=getAttendanceBadgeRequirements`).
      responses:
        "200":
          description: Attendance or badge requirement response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AttendanceList"
                  - $ref: "#/components/schemas/AttendanceBadgeRequirements"
                additionalProperties: true
              examples:
                attendanceList:
                  summary: Attendance list
                  value:
                    identifier: scoutid
                    label: name
                    items:
                      - "2026-01-07": "Yes"
                        total: 2
                        firstname: "Robert"
                        lastname: "Baden Powell"
                        patrolid: -2
                        active: true
                        scoutid: 2015779
                    meetings:
                      "2026-01-07": "Welcome Back!"
                badgeRequirements:
                  summary: Attendance badge requirements
                  value:
                    - badge_id: "1593"
                      badgeName: "Communicator"
                      column_id: "100542"
                      name: "Code"
                      meetingdate: "2026-01-14"
                      section: "cubs"
                      sectionid: 45998
    post:
      summary: Update attendance
      tags:
        - Attendance
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [update]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
        - name: termid
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                scouts:
                  type: string
                  description: JSON array of member IDs.
                selectedDate:
                  type: string
                present:
                  type: string
                section:
                  type: string
                sectionid:
                  type: string
                completedBadges:
                  type: string
                  description: JSON array of badge data.
                customData:
                  type: string
                  description: JSON array of custom data updates.
              required: [scouts, selectedDate, present, section, sectionid]
              additionalProperties: true
            example:
              scouts: "[3008213]"
              selectedDate: "2026-01-14"
              present: "Absent"
              section: "cubs"
              sectionid: "45998"
              completedBadges: "[]"
              customData: "[]"
      responses:
        "200":
          description: Attendance update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
  /ext/customdata/:
    get:
      summary: Get custom data for a member
      tags:
        - Custom Data
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getData]
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: associated_id
          in: query
          required: true
          schema:
            type: string
          description: Member ID.
        - name: associated_type
          in: query
          required: true
          schema:
            type: string
            enum: [member]
        - name: associated_is_section
          in: query
          required: false
          schema:
            nullable: true
            type: string
          description: Section association flag (observed null).
        - name: varname_filter
          in: query
          required: false
          schema:
            nullable: true
            type: string
          description: Filter by variable name (observed null).
        - name: context
          in: query
          required: true
          schema:
            type: string
            enum: [members]
        - name: group_order
          in: query
          required: false
          schema:
            type: string
          description: Group ordering (observed "section").
      responses:
        "200":
          description: Custom data groups and columns.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDataResponse"
              example:
                status: true
                error: null
                data:
                  - group_id: 7
                    group_type: "floating"
                    identifier: "floating"
                    name: "Other"
                    columns:
                      - column_id: 34
                        type: "select"
                        varname: "gender"
                        label: "Gender"
                        value: "Male"
                meta:
                  group_name: "Example Scout Group"
                  section_name: "Cubs"
    post:
      summary: Update custom data for a member
      tags:
        - Custom Data
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [update]
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
            example:
              associated_id: "2211629"
              associated_type: "member"
              group_id: "2"
              context: "members"
              service: "desktop"
              "data[firstname]": "Test"
              "data[lastname]": "Contact 3"
      responses:
        "200":
          description: Custom data update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDataUpdateResponse"
              example:
                status: true
                error: null
                data:
                  lastname: "Contact 3"
                meta:
                  last_updated:
                    last_updated: "2026-01-18 18:24:25"
                    last_updated_by_name: "Example User"
                  updated:
                    lastname: "Last Name"
  /v3/members/review/deletion/{sectionid}:
    get:
      summary: Get deletable members
      tags:
        - Members
      parameters:
        - name: sectionid
          in: path
          required: true
          schema:
            type: string
          description: Section ID.
        - name: mode
          in: query
          required: false
          schema:
            type: string
          description: Display mode (observed value `grid`).
        - name: section_id
          in: query
          required: false
          schema:
            type: string
          description: Section ID (alternate naming).
      responses:
        "200":
          description: Deletable members response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletableMembers"
              example:
                status: true
                error: null
                data:
                  - firstname: Pat
                    lastname: Stone
                    date_deleted: "2023-10-01"
                    id: 3100004
                meta: []
  /ext/programme/:
    get:
      summary: Programme endpoints
      tags:
        - Programme
      description: |
        Programme endpoints share this path with different `action` values.
        Use `getProgrammeSummary` for term overview, `getProgramme` for details,
        `getMembersForParentRota` for parent rota members, or
        `programmeAttachmentsManifest` for attachment metadata.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              [
                getProgrammeSummary,
                getProgramme,
                programmeAttachmentsManifest,
                getMembersForParentRota,
              ]
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: false
          schema:
            type: string
          description: Term ID.
        - name: eveningid
          in: query
          required: false
          schema:
            type: string
          description: Meeting ID.
        - name: section_id
          in: query
          required: false
          schema:
            type: string
          description: Section ID.
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Meeting ID.
        - name: evening_id
          in: query
          required: false
          schema:
            type: string
          description: Meeting ID.
        - name: verbose
          in: query
          required: false
          schema:
            type: string
          description: Return verbose programme summary (observed `1`).
        - name: path
          in: query
          required: false
          schema:
            type: string
          description: Unknown (observed `/`).
        - name: temp
          in: query
          required: false
          schema:
            type: string
          description: Unknown (observed `false`).
        - name: upload_mode
          in: query
          required: false
          schema:
            type: string
          description: Unknown (observed `programme`).
      responses:
        "200":
          description: Programme response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ProgrammeSummary"
                  - $ref: "#/components/schemas/ProgrammeDetails"
                  - $ref: "#/components/schemas/ProgrammeParentRotaMembers"
                additionalProperties: true
              examples:
                programmeSummary:
                  summary: Programme summary
                  value:
                    items:
                      - eveningid: "9500001"
                        sectionid: "45001"
                        title: "Camp Skills Night"
                        notesforparents: "Bring a warm coat."
                        parentsrequired: "1"
                        meetingdate: "2024-11-01"
                        starttime: "18:00:00"
                        endtime: "19:30:00"
                        soft_deleted: "0"
                programmeDetails:
                  summary: Programme details
                  value:
                    items:
                      - eveningid: "9500001"
                        sectionid: "45001"
                        title: "Camp Skills Night"
                        meetingdate: "2024-11-01"
                        starttime: "18:00:00"
                        endtime: "19:30:00"
                        help:
                          - scoutid: "3100005"
                            scout: "Taylor Wood"
                    badgelinks: {}
                programmeParentRotaMembers:
                  summary: Parent rota members
                  value:
                    status: true
                    error: null
                    data:
                      - scoutid: "2015779"
                        firstname: "Robert"
                        lastname: "Baden Powell"
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        patrol_id: -2
                    meta: []
    post:
      summary: Update programme meeting parts
      tags:
        - Programme
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [editEveningParts]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                sectionid:
                  type: string
                eveningid:
                  type: string
                parts:
                  type: string
                  description: JSON object of fields to update (e.g., title, notesforparents, primary_leader_id).
              required: [sectionid, eveningid, parts]
              additionalProperties: true
            example:
              sectionid: "45998"
              eveningid: "9464403"
              parts: "{\"title\":\"Astronomy Night 2\"}"
      responses:
        "200":
          description: Updated programme meeting details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgrammeDetails"
              example:
                items:
                  - eveningid: "9464403"
                    sectionid: "45998"
                    title: "Astronomy Night"
                    meetingdate: "2026-01-21"
                    starttime: "17:30:00"
                    endtime: "18:45:00"
                badgelinks: []
  /ext/programme/clouds/:
    get:
      summary: Get badge tag cloud
      tags:
        - Badges
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getBadgeTagCloud]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [squirrels, beavers, cubs, scouts, explorers]
          description: Section type.
      responses:
        "200":
          description: Badge tag cloud response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadgeTagCloud"
              example:
                tags:
                  community: 1
                tag_count: 1
                badges:
                  "sites/onlinescoutmanager.co.uk/badge_images/img_000000.png": 1
  /ext/dashboard/:
    get:
      summary: Get next things dashboard data
      tags:
        - Dashboard
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [getNextThings]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [squirrels, beavers, cubs, scouts, explorers]
          description: Section type.
      responses:
        "200":
          description: Dashboard next things response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardNextThings"
              example:
                conf:
                  birthdays: 1
                  programme: 1
                  events: 1
                is_full_admin: true
                permissions:
                  badge: 20
                  member: 20
                  user: "100"
                patrols:
                  - patrolid: "12001"
                    sectionid: "45001"
                    name: Blue
                    active: "1"
                    points: "0"
                    census_costs: false
                birthdays:
                  - member_id: 3100006
                    firstname: Casey
                    lastname: Brook
                    photo_guid: "00000000-0000-0000-0000-000000000000"
                    dob: "2016-02-02"
                    age: 9
                programme:
                  - meetingdate: "2024-11-01"
                    title: "Camp Skills Night"
                    eveningid: "9500001"
                events:
                  - eventid: "1700001"
                    name: "District Camp"
                    date: "2025-06-19"
                    end_date: "2025-06-21"
                    yes: 1
                outstandingpayments:
                  - name: "Subscriptions"
                    amount: 45
                    scheme_id: "47001"
                    currency: "GBP"
                surveys: false
                notepad:
                  raw: "0"
                  html: "<p></p>"
                subscription_expiring_soon: false
                programme_reviews: []
                deletable_members:
                  count: 2
                due_badges:
                  count: 5
                expense_cards:
                  cardholders: []
                  number_cardholders: 0
                feature_request_voting:
                  has_feature_request: false
                pending_expense_cardholder_application:
                  data_required: false
                thanks:
                  messages: []
                unanswered_question:
                  has_questions: false
                user_to_do_tasks:
                  tasks: []
                  users: {}
                whats_new:
                  title: "Example Update"
                  msg: "<p>Example message.</p>"
                  story_id: 100
                  like_count: 0
                  user_has_liked: false
  /v3/risk_assessments/{sectionId}/categories:
    get:
      summary: Show programme risk assessment categories
      tags:
        - Risk Assessments
      parameters:
        - name: sectionId
          in: path
          required: true
          schema:
            type: string
          description: Section ID.
      responses:
        "200":
          description: Risk assessment categories response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RiskAssessmentCategories"
              example:
                status: true
                error: null
                data:
                  - name: "General Risks"
                meta:
                  itemstore:
                    identifier: name
components:
  schemas:
    StartupConfigPayload:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: object
          properties:
            site_type:
              type: string
              description: Site variant identifier (e.g., `scouts`).
            site_folder:
              type: string
              description: Server-side folder path for site-specific assets.
            siteConfig:
              type: object
              description: Global feature flags, upgrade pricing, section type definitions, and configuration.
              properties:
                expense_cards:
                  type: object
                  additionalProperties: true
                online_payment_gateways:
                  type: array
                  items:
                    type: string
                beta:
                  type: array
                  description: Beta features available for opt-in.
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                      title:
                        type: string
                      description:
                        type: string
                      role:
                        type: string
                      release_ts:
                        type: integer
                      feedback:
                        type: object
                        additionalProperties: true
                    additionalProperties: true
                boltons:
                  type: object
                  description: Short-code to bolton name mapping.
                  additionalProperties:
                    type: string
                upgrade_config:
                  type: object
                  description: Subscription feature prices, keyed by feature name.
                  additionalProperties:
                    type: object
                    properties:
                      price:
                        type: number
                sms_prices:
                  type: object
                  description: SMS bundle prices keyed by credit quantity.
                  additionalProperties:
                    type: number
                recipes:
                  type: object
                  description: Enumerated values for the recipe planner.
                  additionalProperties:
                    type: array
                    items:
                      type: string
                section_types:
                  type: object
                  description: Human-readable section type names keyed by country code then section type slug.
                  additionalProperties:
                    type: object
                    additionalProperties:
                      type: string
                badge_types:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: string
                section_type_setup:
                  type: object
                  description: Per-section-type capability flags and badge definitions.
                  additionalProperties:
                    type: object
                    additionalProperties: true
                kill:
                  type: object
                  description: Feature kill-switch states (all `false` means all services active).
                  additionalProperties:
                    type: boolean
                buy_links:
                  type: object
                  additionalProperties:
                    type: string
                risk_assessments_config:
                  type: object
                  additionalProperties: true
                communicatable_contact_groups:
                  type: object
                  additionalProperties:
                    type: object
                    additionalProperties:
                      type: string
                email_template_colours:
                  type: array
                  items:
                    type: string
                campaign_template_designs:
                  type: array
                  items:
                    type: string
                remove_member_allowed_functions:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: string
              additionalProperties: true
            patrolLabels:
              type: object
              description: Patrol/group label names per section type.
              additionalProperties:
                type: object
                properties:
                  patrol:
                    type: string
                  patrols:
                    type: string
            patrolRoles:
              type: object
              description: |
                Patrol role definitions per section type. Youth sections use an array ordered by level;
                adult sections use an object keyed by level number.
              additionalProperties:
                oneOf:
                  - type: array
                    items:
                      type: object
                      additionalProperties: true
                  - type: object
                    additionalProperties:
                      type: object
                      additionalProperties: true
            extraSectionTypes:
              type: object
              description: Display names for non-standard section types.
              additionalProperties:
                type: string
            featurelevels:
              type: object
              description: Minimum subscription level required to access each feature.
              additionalProperties:
                type: integer
            changedlevels:
              type: array
              items:
                type: object
                additionalProperties: true
            availableRoles:
              type: object
              description: Global role slugs mapped to display names.
              additionalProperties:
                type: string
            globalAccessRoles:
              type: array
              description: Access control rules granting global roles specific access types.
              items:
                type: object
                properties:
                  user_role:
                    type: string
                  access_type:
                    type: string
                  id:
                    type: string
                additionalProperties: true
            terminology:
              type: object
              description: Hierarchy level names for the site (Group, District, County, etc.).
              additionalProperties:
                type: string
            forms:
              type: array
              description: Dynamic form definitions (accident forms, medication history, etc.).
              items:
                type: object
                additionalProperties: true
            default_terminology:
              type: object
              additionalProperties:
                type: string
            leaderPatrolIds:
              type: array
              description: Patrol IDs reserved for leaders (typically -2 and -3).
              items:
                type: integer
          additionalProperties: true
        meta:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    StartupDataPayload:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: object
          properties:
            cdn:
              type: string
              description: Base CDN URL for static assets.
            resources:
              type: array
              items:
                type: string
              description: Ordered list of JS/CSS resource paths to load on startup.
            config_hash:
              type: string
              description: Hash representing the current server-side configuration state.
            required_cdn_built_files:
              type: object
              additionalProperties:
                type: string
              description: Named CDN file URLs required for the app (e.g., `osm.js`, `react.js`).
            cache_bust:
              type: string
              description: Query string cache-busting token derived from built file hashes.
            globals:
              type: object
              properties:
                post_login_action:
                  description: Action to perform after login, or `false` if none.
                  oneOf:
                    - type: boolean
                    - type: string
                theme:
                  type: string
                  description: UI theme name (e.g., `blue`).
                userid:
                  type: integer
                  description: Authenticated user's numeric ID.
                roles:
                  type: array
                  description: Sections the user has access to, including permissions and config.
                  items:
                    type: object
                    properties:
                      groupname:
                        type: string
                      groupid:
                        type: string
                      group_country:
                        type: string
                      sectionid:
                        type: string
                      sectionname:
                        type: string
                      section:
                        type: string
                        description: Section type slug (e.g., `cubs`, `scouts`, `adults`, `waiting`).
                      isDefault:
                        type: string
                      permissions:
                        type: object
                        additionalProperties: true
                      sectionConfig:
                        type: object
                        additionalProperties: true
                    additionalProperties: true
                active_user_member:
                  description: Whether the user is also a member record, or `false`.
                  oneOf:
                    - type: boolean
                    - type: integer
                associated_member_id:
                  description: Associated member ID if applicable, or `false`.
                  oneOf:
                    - type: boolean
                    - type: integer
                email:
                  type: string
                firstname:
                  type: string
                lastname:
                  type: string
                fullname:
                  type: string
                preferences:
                  type: object
                  additionalProperties: true
                  description: User-specific UI and behavioural preferences.
                member_access:
                  type: object
                  additionalProperties:
                    type: object
                    additionalProperties: true
                  description: Sections where the user has parent-portal member access, keyed by section ID.
                member_access_unactivated:
                  description: Whether any member access is pending activation.
                  oneOf:
                    - type: boolean
                    - type: object
                      additionalProperties: true
                terms:
                  type: object
                  additionalProperties:
                    type: array
                    items:
                      type: object
                      properties:
                        termid:
                          type: string
                        sectionid:
                          type: string
                        name:
                          type: string
                        startdate:
                          type: string
                        enddate:
                          type: string
                        master_term:
                          nullable: true
                        past:
                          type: boolean
                      additionalProperties: true
                  description: Terms for each section, keyed by section ID.
                global_roles:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                hasSectionAccess:
                  type: boolean
                notepads:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                sockets:
                  type: string
                  description: Comma-separated `sectionid-token` pairs for WebSocket connections.
                user_socket:
                  type: string
                  description: Personal WebSocket token for the authenticated user.
                session_id:
                  type: string
                security_prompt:
[...]
