openapi: 3.0.3
info:
  title: Online Scout Manager API (Unofficial)
  version: 0.2.0
  description: |
    Unofficial OpenAPI definition derived from the OSM API docs in this repo.
    This describes only endpoints observed by City of Newcastle Scouts.
    We highly recommend you read OSM's documentation on rate limits on APIs,
    to avoid your account being locked out.
servers:
  - url: https://www.onlinescoutmanager.co.uk
  - url: https://onlinescoutmanager.co.uk
tags:
  - name: Startup
    description: Session bootstrap and general metadata.
  - name: Members
    description: Member lists, details, patrols, and census.
  - name: Attendance
    description: Member attendance and badge requirements.
  - name: Custom Data
    description: Custom data groups and updates.
  - name: Email
    description: Member contact email selection and templates.
  - name: Programme
    description: Programme summaries, meetings, and attachments.
  - name: Badges
    description: Badge-related programme metadata.
  - name: Dashboard
    description: Dashboard summaries and next things.
  - name: Risk Assessments
    description: Programme risk assessment categories.
paths:
  /ext/generic/startup/:
    get:
      summary: Get general data
      tags:
        - Startup
      description: |
        Returns general startup data. The API returns JavaScript, not JSON.
        The payload is typically a `var data_holder = { ... }` assignment.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getData ]
          description: Must be `getData`.
      responses:
        "200":
          description: JavaScript payload containing general data.
          content:
            application/javascript:
              schema:
                type: string
              example: "var data_holder = {\"globals\":{\"email\":\"leader@example.org\",\"firstname\":\"Alex\",\"fullname\":\"Alex Scout\",\"hasSectionAccess\":true}}"
  /ext/members/contact/:
    get:
      summary: Get list of members or individual member details
      tags:
        - Members
      description: |
        Retrieves member data. The `action` parameter controls the behavior.
        This endpoint is also used to return full member contact/emergency data
        (use with care for GDPR compliance).
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getListOfMembers, getIndividual, getMemberTransfers ]
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: false
          schema:
            type: string
          description: Term ID.
        - name: section
          in: query
          required: false
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
          description: Section type.
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [ dob, firstname, lastname, patrol ]
          description: Sort order for list of members.
        - name: scoutid
          in: query
          required: false
          schema:
            type: string
          description: Member unique identifier.
        - name: context
          in: query
          required: false
          schema:
            type: string
            enum: [ members ]
          description: Context for member detail retrieval.
        - name: mode
          in: query
          required: false
          schema:
            type: string
          description: Display mode (observed value `grid`).
        - name: section_id
          in: query
          required: false
          schema:
            type: string
          description: Section ID (alternate naming).
      responses:
        "200":
          description: Member data response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/MembersList"
                  - $ref: "#/components/schemas/MemberDetail"
                  - $ref: "#/components/schemas/MemberTransfers"
                additionalProperties: true
              examples:
                membersList:
                  summary: Members list
                  value:
                    identifier: scoutid
                    photos: true
                    items:
                      - firstname: Jamie
                        lastname: River
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        patrolid: 12001
                        patrol: Blue
                        sectionid: 45001
                        enddate: null
                        age: "10 / 2"
                        patrol_role_level_label: Sixer
                        active: true
                        scoutid: 3100001
                        full_name: "Jamie River"
                memberDetail:
                  summary: Member detail
                  value:
                    ok: true
                    read_only: [ ]
                    data:
                      scoutid: "3100001"
                      firstname: Jamie
                      lastname: River
                      dob: "2015-04-22"
                      started: "2021-09-01"
                      sectionid: 45001
                      active: true
                    meta: [ ]
                memberTransfers:
                  summary: Member transfers
                  value:
                    status: true
                    error: null
                    data:
                      - direction: from
                        member_id: 3100002
                        firstname: Riley
                        lastname: Park
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        type: transferred
                        date: "2024-01-15"
                        section_id: 65001
                        section_name:
                          group: "1st Riverside Scouts"
                          section: Scouts
                        section_long: "1st Riverside Scouts: Scouts"
                        mode: outgoing
                        id: "outgoing-123456"
                    meta: [ ]
    post:
      summary: Update a member field or contact details
      tags:
        - Members
      description: |
        Updates a single field on a member record, or updates contact details
        for one of their linked contacts. The `action` query parameter must be
        `update`. The body is sent as `application/x-www-form-urlencoded`.

        **Member field mode** — send `scoutid`, `column`, `value`, `sectionid`,
        `context=members`. Known columns:

        | Column          | Value format | Notes |
        |-----------------|-------------|-------|
        | `firstname`     | string | |
        | `lastname`      | string | |
        | `dob`           | `yyyy-mm-dd` | |
        | `started`       | `yyyy-mm-dd` | Date started Scouting. |
        | `startedsection`| `yyyy-mm-dd` | Date started this section. |
        | `patrolid`      | int | Must also provide `patrolleader` in the same request body. |
        | `patrolleader`  | int | 0 = no rank, 1 = APL/Seconder, 2 = PL/Sixer, 3 = SPL/Senior Sixer. |

        When setting `patrolid`, the body **must also include** `patrolleader`
        (the rank level integer). Conversely, `patrolleader` can be set on its
        own as `column` without changing the patrol.

        **Contact update mode** — send `associated_type=member`,
        `associated_id=<scoutid>`, `group_id=<contact_group>`, `context=members`,
        and `data[field]=value` pairs for each field. Contact group IDs:

        | group_id | Contact |
        |----------|---------|
        | 1 | Primary Contact 1 |
        | 2 | Primary Contact 2 |
        | 3 | Emergency Contact |
        | 4 | Doctor's Surgery |
        | 6 | Member's own details |
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ update ]
          description: Must be `update`.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
              properties:
                scoutid:
                  type: integer
                  description: Member unique identifier (member field mode).
                column:
                  type: string
                  enum: [ firstname, lastname, dob, started, startedsection, patrolid, patrolleader ]
                  description: The field to update (member field mode).
                value:
                  oneOf:
                    - type: integer
                    - type: string
                  description: The new value.
                sectionid:
                  type: string
                  description: Section ID the member belongs to.
                context:
                  type: string
                  enum: [ members ]
                  description: Must be `members`.
                patrolleader:
                  type: integer
                  description: |
                    Required when `column=patrolid`. Rank level:
                    0 = none, 1 = APL/Seconder, 2 = PL/Sixer, 3 = SPL/Senior Sixer.
                associated_type:
                  type: string
                  enum: [ member ]
                  description: Contact update mode — must be `member`.
                associated_id:
                  type: integer
                  description: Contact update mode — the member's scoutid.
                group_id:
                  type: integer
                  enum: [ 1, 2, 3, 4, 6 ]
                  description: Contact update mode — contact group ID.
            examples:
              memberFieldUpdate:
                summary: Update a member field (e.g. patrol)
                value:
                  scoutid: 3100001
                  column: patrolid
                  value: "12002"
                  sectionid: "45001"
                  context: members
                  patrolleader: 0
              contactUpdate:
                summary: Update a contact's details
                value:
                  associated_type: member
                  associated_id: "3100001"
                  group_id: "1"
                  context: members
                  "data[firstname]": "Sarah"
                  "data[lastname]": "River"
                  "data[email1]": "sarah.river@example.org"
                  "data[phone1]": "07700900123"
                  "data[phone1_sms]": "yes"
      responses:
        "200":
          description: Update confirmation with last-updated metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  meta:
                    type: object
                    properties:
                      last_updated:
                        type: string
                        description: Timestamp of the update (e.g. `2025-09-15 19:42:10`).
                      last_updated_by_name:
                        type: string
                        description: Name of the user who made the update.
                additionalProperties: true
              example:
                ok: true
                meta:
                  last_updated: "2025-09-15 19:42:10"
                  last_updated_by_name: "Alex Scout"
  /ext/members/contact/actions/:
    post:
      summary: Create, remove, or restore a member
      tags:
        - Members
      description: |
        Member lifecycle actions. The `action` query parameter controls the
        behaviour. Body is `application/x-www-form-urlencoded`.

        **`newMember`** — creates a new member in the section.

        **`removeMember`** — removes a member from the section. The `type`
        field controls how much data is retained:

        | type | Effect |
        |------|--------|
        | `keepall` | Keep all data intact |
        | `keepcontact` | Remove personal details except name and core details |
        | `keepname` | Remove personal details except name |
        | `delete` | Remove all personal details; use initials for names (member history retains names) |
        | `erase` | Remove all personal details **including** names from history. **Irreversible.** |

        When `type=erase`, an optional `additional_data_to_delete` array can
        specify extra data categories to purge: `badge`, `events`, `finance`,
        `register`. Each is optional.

        **`returnMember`** — restores a previously removed member.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ newMember, removeMember, returnMember ]
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID (required for `removeMember`).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
              properties:
                firstname:
                  type: string
                  description: "`newMember` only. First name."
                lastname:
                  type: string
                  description: "`newMember` only. Last name."
                dob:
                  type: string
                  format: date
                  description: "`newMember` only. Date of birth (`yyyy-mm-dd`)."
                startedsection:
                  type: string
                  format: date
                  description: "`newMember` only. Date started in this section."
                started:
                  type: string
                  format: date
                  description: "`newMember` only. Date started Scouting."
                sectionid:
                  type: string
                  description: Section ID.
                originating_section_id:
                  type: string
                  description: "`newMember` only. Usually same as `sectionid`."
                term_id:
                  type: string
                  description: "`newMember` only. Term ID."
                scouts:
                  type: integer
                  description: "`removeMember` / `returnMember`. Member scout ID."
                from_section:
                  type: string
                  description: "`removeMember` only. Section ID to remove from."
                date:
                  type: string
                  format: date
                  description: "`removeMember` only. Effective removal date (`yyyy-mm-dd`)."
                type:
                  type: string
                  enum: [ keepall, keepcontact, keepname, delete, erase ]
                  description: "`removeMember` only. Data retention level."
                additional_data_to_delete:
                  type: array
                  items:
                    type: string
                    enum: [ badge, events, finance, register ]
                  description: "`removeMember` with `type=erase` only. Extra data to purge."
            examples:
              newMember:
                summary: Create a new member
                value:
                  firstname: Robin
                  lastname: Wells
                  dob: "2016-06-15"
                  startedsection: "2025-09-05"
                  started: "2025-09-06"
                  sectionid: "45001"
                  originating_section_id: "45001"
                  term_id: "67890"
              removeMember:
                summary: Remove a member (keep all data)
                value:
                  scouts: 3100005
                  from_section: "45001"
                  date: "2025-08-19"
                  type: keepall
              returnMember:
                summary: Restore a removed member
                value:
                  scouts: 3100005
      responses:
        "200":
          description: Action result.
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: "`newMember` response."
                    properties:
                      result:
                        type: string
                        enum: [ ok ]
                      out_of_term:
                        type: boolean
                        description: Whether the start date falls outside the given term.
                      scoutid:
                        type: integer
                        description: The newly assigned member ID.
                      firstname:
                        type: string
                      lastname:
                        type: string
                  - type: object
                    description: "`removeMember` / `returnMember` response."
                    properties:
                      ok:
                        type: boolean
                      scouts:
                        type: array
                        items:
                          type: integer
                        description: Scout IDs affected.
              examples:
                newMember:
                  summary: New member created
                  value:
                    result: ok
                    out_of_term: false
                    scoutid: 3100005
                    firstname: Robin
                    lastname: Wells
                removeMember:
                  summary: Member removed
                  value:
                    ok: true
                    scouts: [ 3100005 ]
                returnMember:
                  summary: Member restored
                  value:
                    ok: true
                    scouts: [ 3100005 ]
  /ext/badges/records/:
    get:
      summary: Get badge records or available badges
      tags:
        - Badges
      description: |
        Returns badge data. The `action` parameter controls the behavior:
        - `getBadgeRecords` — returns per-member completion records for a specific badge.
        - `getAvailableBadges` — returns the list of badges available for a section and type.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getBadgeRecords, getAvailableBadges ]
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
          description: Section type.
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID (used with `getAvailableBadges`).
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID (alternate naming, used with some actions).
        - name: term_id
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: type_id
          in: query
          required: true
          schema:
            type: string
            enum: [ "1", "2", "3", "4" ]
          description: |
            Badge type ID.
            1 = Challenge, 2 = Activity, 3 = Staged, 4 = Core.
        - name: badge_id
          in: query
          required: false
          schema:
            type: string
          description: Badge ID (required for `getBadgeRecords`).
        - name: badge_version
          in: query
          required: false
          schema:
            type: string
          description: Badge version (required for `getBadgeRecords`).
        - name: payload
          in: query
          required: false
          schema:
            type: string
            enum: [ "1" ]
          description: Include full payload (observed value `1`).
        - name: context
          in: query
          required: false
          schema:
            type: string
            enum: [ none ]
          description: Context (observed value `none` for `getAvailableBadges`).
        - name: member_id
          in: query
          required: false
          schema:
            type: string
          description: Member ID filter (observed value `0` for all members).
      responses:
        "200":
          description: Badge records or available badges.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadgeRecordsResponse"
              examples:
                availableBadges:
                  summary: Available badges list
                  value:
                    status: true
                    error: null
                    data:
                      - badge_id: 1001
                        badge_version: 0
                        name: "Teamwork"
                        picture: "badges/teamwork.png"
                        type_id: 1
                        config: "{}"
                        has_stock: false
                    meta: [ ]
                badgeRecords:
                  summary: Badge records for a specific badge
                  value:
                    status: true
                    error: null
                    data:
                      - scoutid: 3100001
                        firstname: "Jamie"
                        lastname: "River"
                        completed: "1"
                        awarded: "1"
                        status: 1
                    meta: [ ]
  /ext/badges/badgesbyperson/:
    get:
      summary: Load badges grouped by member
      tags:
        - Badges
      description: |
        Returns badge progress grouped by member. Each member entry includes
        an array of their badge statuses across all badge types.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ loadBadgesByMember ]
          description: Must be `loadBadgesByMember`.
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
          description: Section type.
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: term_id
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
      responses:
        "200":
          description: Badges by member.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadgesByMemberResponse"
              example:
                status: true
                error: null
                data:
                  - scoutid: 3100001
                    firstname: "Jamie"
                    lastname: "River"
                    patrol: "Blue"
                    active: true
                    badges:
                      - badge_id: 1001
                        badge_version: 0
                        completed: "1"
                        awarded: "1"
                        status: 1
                meta: [ ]
  /ext/members/email/:
    get:
      summary: Get selected contact emails
      tags:
        - Email
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getSelectedEmailsFromContacts ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
      responses:
        "200":
          description: Selected emails for contacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelectedContactEmails"
              example:
                emails:
                  "2526072":
                    emails:
                      - "parent@example.org"
                      - "guardian@example.org"
                    firstname: "Jamie"
                    lastname: "River"
                    photo_guid: "00000000-0000-0000-0000-000000000000"
                    member_id: 2526072
                count: 2
                blocks: [ ]
                daily_limit_reached: false
    post:
      summary: Send an email template
      tags:
        - Email
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ sendTemplate ]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
            example:
              subject: "Weekly Meeting Reminder"
              sectionid: "45001"
              emails: "{\"2526072\":{\"firstname\":\"Jamie\",\"lastname\":\"River\",\"member_id\":2526072,\"emails\":[\"parent@example.org\"]}}"
              edits: "{\"0\":{\"0\":{\"text\":\"<p>Don't forget to bring your swimming kit this week!</p>\"}}}"
      responses:
        "200":
          description: Email send response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
              example:
                ok: true
  /ext/members/patrols/:
    get:
      summary: Get patrols with members
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getPatrolsWithPeople ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: include_no_patrol
          in: query
          required: false
          schema:
            type: string
            enum: [ y, n ]
          description: Include pseudo-patrol for members not in a patrol.
      responses:
        "200":
          description: Patrol list keyed by patrol ID.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                "-2":
                  patrolid: "-2"
                  sectionid: "-2"
                  name: Leaders
                  active: "1"
                  points: "0"
                  census_costs: false
                  members: [ ]
                "12001":
                  patrolid: "12001"
                  sectionid: "45001"
                  name: Blue
                  active: "1"
                  points: "2"
                  census_costs: false
                  members:
                    - firstname: Jamie
                      lastname: River
                      scout_id: 3100001
                      photo_guid: "00000000-0000-0000-0000-000000000000"
                      patrolid: 12001
                      patrolleader: "0"
                      patrol: Blue
                      sectionid: 45001
                      enddate: null
                      age: "10 / 2"
                      patrol_role_level_label: Sixer
                      active: 1
                      scoutid: 3100001
                      editable: true
  /ext/members/census/:
    get:
      summary: Get census details
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getDetails ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
      responses:
        "200":
          description: Census detail response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CensusDetails"
              example:
                identifier: scoutid
                items:
                  - scoutid: "3100003"
                    firstname: Sam
                    lastname: Lake
                    joined: "2022-03-01"
                    photo_guid: null
                    sex: ""
                    ethnicity: ""
                    disabilities: "Edit disabilities"
                    myscout: "Send Parent Portal email"
                    raw_disabilities: [ ]
                    _filterString: "sam lake"
  /ext/members/flexirecords/:
    get:
      summary: Get flexi-records
      tags:
        - Members
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getPatrolsWithPeople ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: archived
          in: query
          required: false
          schema:
            type: string
            enum: [ y, n ]
          description: Toggle archived flexi-records.
      responses:
        "200":
          description: Flexi-record list.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlexiRecords"
              example:
                identifier: extraid
                label: name
                items:
                  - extraid: "23001"
                    name: "Hike Log"
  /ext/members/attendance/:
    get:
      summary: Get attendance data or badge requirements
      tags:
        - Attendance
      description: |
        Attendance endpoints share this path with different `action` values.
        Use `get` for attendance records or `getAttendanceBadgeRequirements`
        for badge requirements tied to a date.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ get, getAttendanceBadgeRequirements ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: false
          schema:
            type: string
          description: Term ID (required for `action=get`).
        - name: section
          in: query
          required: true
          schema:
            type: string
          description: Section type (e.g., `cubs`).
        - name: nototal
          in: query
          required: false
          schema:
            type: string
          description: Toggle total attendance column (observed `true`).
        - name: date
          in: query
          required: false
          schema:
            type: string
          description: Meeting date (required for `action=getAttendanceBadgeRequirements`).
      responses:
        "200":
          description: Attendance or badge requirement response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AttendanceList"
                  - $ref: "#/components/schemas/AttendanceBadgeRequirements"
                additionalProperties: true
              examples:
                attendanceList:
                  summary: Attendance list
                  value:
                    identifier: scoutid
                    label: name
                    items:
                      - "2025-01-07": "Yes"
                        total: 2
                        firstname: "Robert"
                        lastname: "Baden Powell"
                        patrolid: -2
                        active: true
                        scoutid: 2015779
                    meetings:
                      "2025-01-07": "Welcome Back!"
                badgeRequirements:
                  summary: Attendance badge requirements
                  value:
                    - badge_id: "1593"
                      badgeName: "Communicator"
                      column_id: "100542"
                      name: "Code"
                      meetingdate: "2025-01-14"
                      section: "cubs"
                      sectionid: 12345
    post:
      summary: Update attendance
      tags:
        - Attendance
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ update ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
        - name: termid
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                scouts:
                  type: string
                  description: JSON array of member IDs.
                selectedDate:
                  type: string
                present:
                  type: string
                section:
                  type: string
                sectionid:
                  type: string
                completedBadges:
                  type: string
                  description: JSON array of badge data.
                customData:
                  type: string
                  description: JSON array of custom data updates.
              required: [ scouts, selectedDate, present, section, sectionid ]
              additionalProperties: true
            example:
              scouts: "[3008213]"
              selectedDate: "2025-01-14"
              present: "Absent"
              section: "cubs"
              sectionid: "12345"
              completedBadges: "[]"
              customData: "[]"
      responses:
        "200":
          description: Attendance update response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OkResponse"
  /ext/customdata/:
    get:
      summary: Get custom data for a member
      tags:
        - Custom Data
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getData ]
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: associated_id
          in: query
          required: true
          schema:
            type: string
          description: Member ID.
        - name: associated_type
          in: query
          required: true
          schema:
            type: string
            enum: [ member ]
        - name: associated_is_section
          in: query
          required: false
          schema:
            nullable: true
            type: string
          description: Section association flag (observed null).
        - name: varname_filter
          in: query
          required: false
          schema:
            nullable: true
            type: string
          description: Filter by variable name (observed null).
        - name: context
          in: query
          required: true
          schema:
            type: string
            enum: [ members ]
        - name: group_order
          in: query
          required: false
          schema:
            type: string
          description: Group ordering (observed "section").
      responses:
        "200":
          description: Custom data groups and columns.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDataResponse"
              example:
                status: true
                error: null
                data:
                  - group_id: 7
                    group_type: "floating"
                    identifier: "floating"
                    name: "Other"
                    columns:
                      - column_id: 34
                        type: "select"
                        varname: "gender"
                        label: "Gender"
                        value: "Male"
                meta:
                  group_name: "1st Riverside Scouts"
                  section_name: "Cubs"
    post:
      summary: Update custom data for a member
      tags:
        - Custom Data
      description: |
        Updates custom data fields on a member. Two `action` values are supported:

        - `update` — bulk update using `data[field]=value` pairs (e.g. contact details).
        - `updateColumn` — update a single custom data column by `column_id`.

        Column IDs are section-specific. The only well-known core column is
        `column_id=34` for Gender (values: Male, Female, Self-identify,
        Prefer not to say, Other, Unspecified). Other column IDs vary per
        section — inspect HTTP traffic to discover them.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ update, updateColumn ]
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
              properties:
                associated_id:
                  type: string
                  description: Member scout ID.
                associated_type:
                  type: string
                  enum: [ member ]
                associated_is_section:
                  type: string
                  description: Section association flag (observed `false`).
                group_id:
                  type: string
                  description: |
                    Custom data group ID. For `update` action this matches
                    the contact group (1–6). For `updateColumn` this is the
                    custom data group containing the column.
                column_id:
                  type: integer
                  description: Column ID to update (`updateColumn` action only).
                value:
                  type: string
                  description: New value for the column (`updateColumn` action only).
                context:
                  type: string
                  enum: [ members ]
            examples:
              bulkUpdate:
                summary: Bulk update contact details (action=update)
                value:
                  associated_id: "3100003"
                  associated_type: "member"
                  group_id: "2"
                  context: "members"
                  service: "desktop"
                  "data[firstname]": "Helen"
                  "data[lastname]": "Park"
              updateColumn:
                summary: Update a single custom column (action=updateColumn)
                value:
                  associated_type: member
                  associated_id: "3100005"
                  associated_is_section: "false"
                  group_id: "7"
                  column_id: 34
                  value: "Male"
                  context: members
      responses:
        "200":
          description: Custom data update response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CustomDataUpdateResponse"
                  - $ref: "#/components/schemas/CustomDataColumnUpdateResponse"
              examples:
                bulkUpdate:
                  summary: Bulk update response
                  value:
                    status: true
                    error: null
                    data:
                      lastname: "Park"
                    meta:
                      last_updated:
                        last_updated: "2025-09-12 18:30:45"
                        last_updated_by_name: "Alex Scout"
                      updated:
                        lastname: "Last Name"
                columnUpdate:
                  summary: Column update response
                  value:
                    status: true
                    error: null
                    data:
                      column_id: 34
                      type: select
                      required: "no"
                      varname: gender
                      label: Gender
                      value: Male
                      is_core: "yes"
                      order: "12"
                    meta:
                      last_updated:
                        last_updated: "2025-09-15 19:43:22"
                        last_updated_by_name: "Alex Scout"
  /ext/audittrail/:
    post:
      summary: Get audit trail for a member
      tags:
        - Members
      description: |
        Returns the audit trail (change history) for a member. Despite being
        a POST, this is a read-only query — the body specifies which member
        to look up. The response contains a chronological list of changes
        including patrol moves, rank promotions, field edits, and section
        additions.

        Each entry has a `type` and `code` describing the kind of change:

        | type | code | Meaning |
        |------|------|---------|
        | `members` | `add` | Member added to section |
        | `details` | `field` | A member field was edited |
        | `details` | `new` | A new detail was added (e.g. consent) |
        | `patrols` | `add-to` | Member added to a patrol/six |
        | `patrol-leader` | `promoted` | Rank promotion or demotion |

        The `summary` field contains HTML with `<strong>` tags highlighting
        names, fields, and values.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getAuditTrail ]
          description: Must be `getAuditTrail`.
        - name: section_id
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - section_id
                - id
                - type
              properties:
                section_id:
                  type: string
                  description: Section ID (repeated in body).
                id:
                  type: string
                  description: Member scout ID.
                type:
                  type: string
                  enum: [ member ]
                  description: Must be `member`.
            example:
              section_id: "45001"
              id: "3100001"
              type: member
      responses:
        "200":
          description: Audit trail entries for the member.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditTrailResponse"
              example:
                status: true
                error: null
                data:
                  - date: "15/09/2025 19:42"
                    date_raw: "2025-09-15 19:42:10"
                    summary: "<strong>Jamie River</strong> has had their <strong>Consents: Photographs</strong> added as <strong>Yes</strong> by <strong>Alex Scout</strong>"
                    verbose: ""
                    type: details
                    code: new
                    hidden: false
                  - date: "15/09/2025 19:38"
                    date_raw: "2025-09-15 19:38:31"
                    summary: "<strong>Jamie River</strong> is now a <strong>Sixer</strong> in the Blue six in <strong>Cubs</strong> (previously <strong>Seconder</strong>), changed by <strong>Alex Scout</strong>."
                    verbose: ""
                    type: patrol-leader
                    code: promoted
                    hidden: false
                  - date: "15/09/2025 19:37"
                    date_raw: "2025-09-15 19:37:04"
                    summary: "<strong>Jamie River</strong> was added to the <strong>Blue</strong> six."
                    verbose: ""
                    type: patrols
                    code: add-to
                    hidden: false
                  - date: "15/09/2025 19:35"
                    date_raw: "2025-09-15 19:35:54"
                    summary: "<strong>Alex Scout</strong> updated <strong>Date of Birth</strong> for <strong>Jamie River</strong> from <strong>22/04/2015</strong> to <strong>23/04/2015</strong>"
                    verbose: ""
                    type: details
                    code: field
                    hidden: false
                  - date: "15/09/2025 19:34"
                    date_raw: "2025-09-15 19:34:07"
                    summary: "<strong>Jamie River</strong> has been added to <strong>1st Riverside Scouts: Cubs</strong> by <strong>Alex Scout</strong>."
                    verbose: ""
                    type: members
                    code: add
                    hidden: false
                meta:
                  hidden: false
                  note_types:
                    - notes
                    - received-email
                    - received-phonecall
                    - received-letter
                    - sent-email
                    - sent-phonecall
                    - sent-letter
  /ext/settings/emails/:
    get:
      summary: Get email configuration for a section
      tags:
        - Email
      description: |
        Returns the email/newsletter configuration for a section, including
        available events and patrols that can be used as recipient filters
        when composing emails. Also indicates whether the section has a
        newsletter slug configured and if it is live.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getConfig ]
          description: Must be `getConfig`.
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
      responses:
        "200":
          description: Email configuration with events and patrols.
          content:
            application/json:
              schema:
                type: object
                properties:
                  found:
                    type: boolean
                  result:
                    type: object
                    properties:
                      sectionid:
                        type: string
                      slug:
                        type: string
                        description: Newsletter slug for the section.
                      numemails:
                        type: string
                        description: Number of emails sent (as string).
                      live:
                        type: string
                        enum: [ "0", "1" ]
                        description: Whether the newsletter is live.
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                    description: Upcoming events that can be used as email filters.
                  patrols:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                    description: Patrols/sixes in the section.
                  leaders:
                    type: boolean
                    description: Whether leaders are available as recipients.
                additionalProperties: true
              example:
                found: true
                result:
                  sectionid: "45001"
                  slug: "1stRiversideCubs"
                  numemails: "0"
                  live: "1"
                events:
                  - name: "Summer Camp 2025"
                    slug: "SummerCamp2025"
                  - name: "Investiture Ceremony"
                    slug: "InvestitureCeremony"
                patrols:
                  - name: "Blue"
                    slug: "Blue"
                  - name: "Green"
                    slug: "Green"
                  - name: "Red"
                    slug: "Red"
                  - name: "Yellow"
                    slug: "Yellow"
                leaders: true
  /v3/members/contact/{sectionid}/removalWarnings:
    post:
      summary: Get pre-removal warnings for a member
      tags:
        - Members
      description: |
        Checks whether there are any warnings before removing a member from a
        section (e.g. outstanding payments). Call this before `removeMember`
        to display confirmation prompts to the user.
      parameters:
        - name: sectionid
          in: path
          required: true
          schema:
            type: string
          description: Section ID.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - "member_ids[0]"
              properties:
                "member_ids[0]":
                  type: integer
                  description: Scout ID of the member to check. Additional members can be sent as `member_ids[1]`, `member_ids[2]`, etc.
            example:
              "member_ids[0]": 3100005
      responses:
        "200":
          description: Removal warnings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  error:
                    nullable: true
                  data:
                    type: object
                    properties:
                      payments:
                        type: boolean
                        description: Whether the member has outstanding payments.
                    additionalProperties: true
                  meta:
                    type: object
                    properties:
                      ok:
                        type: boolean
              example:
                status: true
                error: null
                data:
                  payments: false
                meta:
                  ok: true
  /v3/members/review/deletion/{sectionid}:
    get:
      summary: Get deletable members
      tags:
        - Members
      parameters:
        - name: sectionid
          in: path
          required: true
          schema:
            type: string
          description: Section ID.
        - name: mode
          in: query
          required: false
          schema:
            type: string
          description: Display mode (observed value `grid`).
        - name: section_id
          in: query
          required: false
          schema:
            type: string
          description: Section ID (alternate naming).
      responses:
        "200":
          description: Deletable members response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletableMembers"
              example:
                status: true
                error: null
                data:
                  - firstname: Pat
                    lastname: Stone
                    date_deleted: "2023-10-01"
                    id: 3100004
                meta: [ ]
  /ext/programme/:
    get:
      summary: Programme endpoints
      tags:
        - Programme
      description: |
        Programme endpoints share this path with different `action` values.
        Use `getProgrammeSummary` for term overview, `getProgramme` for details,
        `getMembersForParentRota` for parent rota members, or
        `programmeAttachmentsManifest` for attachment metadata.
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              [
                getProgrammeSummary,
                getProgramme,
                programmeAttachmentsManifest,
                getMembersForParentRota,
              ]
        - name: sectionid
          in: query
          required: false
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: false
          schema:
            type: string
          description: Term ID.
        - name: eveningid
          in: query
          required: false
          schema:
            type: string
          description: Meeting ID.
        - name: section_id
          in: query
          required: false
          schema:
            type: string
          description: Section ID.
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: Meeting ID.
        - name: evening_id
          in: query
          required: false
          schema:
            type: string
          description: Meeting ID.
        - name: verbose
          in: query
          required: false
          schema:
            type: string
          description: Return verbose programme summary (observed `1`).
        - name: path
          in: query
          required: false
          schema:
            type: string
          description: Unknown (observed `/`).
        - name: temp
          in: query
          required: false
          schema:
            type: string
          description: Unknown (observed `false`).
        - name: upload_mode
          in: query
          required: false
          schema:
            type: string
          description: Unknown (observed `programme`).
      responses:
        "200":
          description: Programme response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ProgrammeSummary"
                  - $ref: "#/components/schemas/ProgrammeDetails"
                  - $ref: "#/components/schemas/ProgrammeParentRotaMembers"
                additionalProperties: true
              examples:
                programmeSummary:
                  summary: Programme summary
                  value:
                    items:
                      - eveningid: "9500001"
                        sectionid: "45001"
                        title: "Camp Skills Night"
                        notesforparents: "Bring a warm coat."
                        parentsrequired: "1"
                        meetingdate: "2024-11-01"
                        starttime: "18:00:00"
                        endtime: "19:30:00"
                        soft_deleted: "0"
                programmeDetails:
                  summary: Programme details
                  value:
                    items:
                      - eveningid: "9500001"
                        sectionid: "45001"
                        title: "Camp Skills Night"
                        meetingdate: "2024-11-01"
                        starttime: "18:00:00"
                        endtime: "19:30:00"
                        help:
                          - scoutid: "3100005"
                            scout: "Taylor Wood"
                    badgelinks: { }
                programmeParentRotaMembers:
                  summary: Parent rota members
                  value:
                    status: true
                    error: null
                    data:
                      - scoutid: "2015779"
                        firstname: "Robert"
                        lastname: "Baden Powell"
                        photo_guid: "00000000-0000-0000-0000-000000000000"
                        patrol_id: -2
                    meta: [ ]
    post:
      summary: Update programme meeting parts
      tags:
        - Programme
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ editEveningParts ]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                sectionid:
                  type: string
                eveningid:
                  type: string
                parts:
                  type: string
                  description: JSON object of fields to update (e.g., title, notesforparents, primary_leader_id).
              required: [ sectionid, eveningid, parts ]
              additionalProperties: true
            example:
              sectionid: "12345"
              eveningid: "9464403"
              parts: "{\"title\":\"Astronomy Night 2\"}"
      responses:
        "200":
          description: Updated programme meeting details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProgrammeDetails"
              example:
                items:
                  - eveningid: "9464403"
                    sectionid: "12345"
                    title: "Astronomy Night"
                    meetingdate: "2025-01-21"
                    starttime: "17:30:00"
                    endtime: "18:45:00"
                badgelinks: [ ]
  /ext/programme/clouds/:
    get:
      summary: Get badge tag cloud
      tags:
        - Badges
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getBadgeTagCloud ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
          description: Section type.
      responses:
        "200":
          description: Badge tag cloud response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadgeTagCloud"
              example:
                tags:
                  community: 1
                tag_count: 1
                badges:
                  "sites/onlinescoutmanager.co.uk/badge_images/img_000000.png": 1
  /ext/dashboard/:
    get:
      summary: Get next things dashboard data
      tags:
        - Dashboard
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum: [ getNextThings ]
        - name: sectionid
          in: query
          required: true
          schema:
            type: string
          description: Section ID.
        - name: termid
          in: query
          required: true
          schema:
            type: string
          description: Term ID.
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [ squirrels, beavers, cubs, scouts, explorers ]
          description: Section type.
      responses:
        "200":
          description: Dashboard next things response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardNextThings"
              example:
                conf:
                  birthdays: 1
                  programme: 1
                  events: 1
                is_full_admin: true
                permissions:
                  badge: 20
                  member: 20
                  user: "100"
                patrols:
                  - patrolid: "12001"
                    sectionid: "45001"
                    name: Blue
                    active: "1"
                    points: "0"
                    census_costs: false
                birthdays:
                  - member_id: 3100006
                    firstname: Casey
                    lastname: Brook
                    photo_guid: "00000000-0000-0000-0000-000000000000"
                    dob: "2016-02-02"
                    age: 9
                programme:
                  - meetingdate: "2024-11-01"
                    title: "Camp Skills Night"
                    eveningid: "9500001"
                events:
                  - eventid: "1700001"
                    name: "District Camp"
                    date: "2025-06-19"
                    end_date: "2025-06-21"
                    yes: 1
                outstandingpayments:
                  - name: "Subscriptions"
                    amount: 45
                    scheme_id: "47001"
                    currency: "GBP"
                surveys: false
                notepad:
                  raw: "0"
                  html: "<p></p>"
                subscription_expiring_soon: false
                programme_reviews: [ ]
                deletable_members:
                  count: 2
                due_badges:
                  count: 5
                expense_cards:
                  cardholders: [ ]
                  number_cardholders: 0
                feature_request_voting:
                  has_feature_request: false
                pending_expense_cardholder_application:
                  data_required: false
                thanks:
                  messages: [ ]
                unanswered_question:
                  has_questions: false
                user_to_do_tasks:
                  tasks: [ ]
                  users: { }
                whats_new:
                  title: "Example Update"
                  msg: "<p>Example message.</p>"
                  story_id: 100
                  like_count: 0
                  user_has_liked: false
  /v3/risk_assessments/{sectionId}/categories:
    get:
      summary: Show programme risk assessment categories
      tags:
        - Risk Assessments
      parameters:
        - name: sectionId
          in: path
          required: true
          schema:
            type: string
          description: Section ID.
      responses:
        "200":
          description: Risk assessment categories response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RiskAssessmentCategories"
              example:
                status: true
                error: null
                data:
                  - name: "General Risks"
                meta:
                  itemstore:
                    identifier: name
components:
  schemas:
    MembersList:
      type: object
      properties:
        identifier:
          type: string
        photos:
          type: boolean
        items:
          type: array
          items:
            type: object
            additionalProperties: true
      required: [ identifier, items ]
      additionalProperties: true
    MemberDetail:
      type: object
      properties:
        ok:
          type: boolean
        read_only:
          type: array
          items:
            type: string
        data:
          type: object
          additionalProperties: true
        meta:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    MemberTransfers:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    AttendanceList:
      type: object
      properties:
        identifier:
          type: string
        label:
          type: string
        items:
          type: array
          items:
            type: object
            additionalProperties: true
        meetings:
          type: object
          additionalProperties:
            type: string
      additionalProperties: true
    AttendanceBadgeRequirements:
      type: array
      items:
        $ref: "#/components/schemas/AttendanceBadgeRequirement"
    AttendanceBadgeRequirement:
      type: object
      properties:
        badge:
          type: string
        badge_id:
          type: string
        badge_version:
          type: string
        column_id:
          type: string
        badgeName:
          type: string
        badgetype:
          type: string
        columngroup:
          type: string
        columnname:
          type: string
        description:
          type: string
        data:
          type: string
        eveningid:
          type: integer
        meetingdate:
          type: string
        link_from:
          type: string
        name:
          type: string
        section:
          type: string
        sameas_counter:
          type: integer
        sectionid:
          type: integer
      additionalProperties: true
    OkResponse:
      type: object
      properties:
        ok:
          type: boolean
      required: [ ok ]
      additionalProperties: true
    SelectedContactEmails:
      type: object
      properties:
        emails:
          type: object
          additionalProperties:
            type: object
            properties:
              emails:
                type: array
                items:
                  type: string
              firstname:
                type: string
              lastname:
                type: string
              photo_guid:
                type: string
              member_id:
                type: integer
            additionalProperties: true
        count:
          type: integer
        blocks:
          type: array
          items:
            type: object
            additionalProperties: true
        daily_limit_reached:
          type: boolean
      additionalProperties: true
    CustomDataResponse:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/CustomDataGroup"
        meta:
          type: object
          additionalProperties: true
      additionalProperties: true
    CustomDataGroup:
      type: object
      properties:
        group_id:
          type: integer
        config:
          nullable: true
          type: object
          additionalProperties: true
        group_type:
          type: string
        identifier:
          type: string
        name:
          type: string
        description:
          type: string
        description_mymember:
          type: string
        is_considered_core:
          type: string
        allow_new_columns:
          type: string
        display:
          type: string
        columns:
          type: array
          items:
            $ref: "#/components/schemas/CustomDataColumn"
        custom_order:
          type: integer
      additionalProperties: true
    CustomDataColumn:
      type: object
      properties:
        column_id:
          type: integer
        type:
          type: string
        required:
          type: string
        display_in_advanced_view:
          type: string
        display_if_empty:
          type: string
        hide_from_group_display:
          type: string
        config:
          type: object
          additionalProperties: true
        varname:
          type: string
        label:
          type: string
        value:
          nullable: true
        is_core:
          type: string
        order:
          type: string
        force_read_only:
          type: string
        special_permissions:
          type: string
        permissions:
          type: array
          items:
            type: string
        orig_label:
          type: string
      additionalProperties: true
    CustomDataUpdateResponse:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: object
          additionalProperties: true
        meta:
          type: object
          additionalProperties: true
      additionalProperties: true
    CensusDetails:
      type: object
      properties:
        identifier:
          type: string
        items:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    FlexiRecords:
      type: object
      properties:
        identifier:
          type: string
        label:
          type: string
        items:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    DeletableMembers:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    ProgrammeSummary:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    ProgrammeDetails:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            additionalProperties: true
        badgelinks:
          type: object
          additionalProperties: true
      additionalProperties: true
    ProgrammeParentRotaMembers:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    BadgeTagCloud:
      type: object
      properties:
        tags:
          type: object
          additionalProperties:
            type: integer
        tag_count:
          type: integer
        badges:
          type: object
          additionalProperties:
            type: integer
      additionalProperties: true
    RiskAssessmentCategories:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          type: object
          additionalProperties: true
      additionalProperties: true
    DashboardNextThings:
      type: object
      properties:
        conf:
          type: object
          additionalProperties:
            type: integer
        is_full_admin:
          type: boolean
        permissions:
          type: object
          additionalProperties: true
        patrols:
          type: array
          items:
            type: object
            additionalProperties: true
        birthdays:
          type: array
          items:
            type: object
            additionalProperties: true
        programme:
          type: array
          items:
            type: object
            additionalProperties: true
        events:
          type: array
          items:
            type: object
            additionalProperties: true
        outstandingpayments:
          type: array
          items:
            type: object
            additionalProperties: true
        surveys:
          oneOf:
            - type: boolean
            - type: object
              additionalProperties: true
        notepad:
          type: object
          additionalProperties: true
        subscription_expiring_soon:
          type: boolean
        programme_reviews:
          type: array
          items:
            type: object
            additionalProperties: true
        deletable_members:
          type: object
          additionalProperties: true
        due_badges:
          type: object
          additionalProperties: true
        expense_cards:
          type: object
          additionalProperties: true
        feature_request_voting:
          type: object
          additionalProperties: true
        pending_expense_cardholder_application:
          type: object
          additionalProperties: true
        thanks:
          type: object
          additionalProperties: true
        unanswered_question:
          type: object
          additionalProperties: true
        user_to_do_tasks:
          type: object
          additionalProperties: true
        whats_new:
          type: object
          additionalProperties: true
      additionalProperties: true
    AuditTrailResponse:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                description: Human-readable date (DD/MM/YYYY HH:MM).
              date_raw:
                type: string
                description: Raw timestamp (YYYY-MM-DD HH:MM:SS).
              summary:
                type: string
                description: HTML summary of the change with `<strong>` highlights.
              verbose:
                type: string
                description: Extended details (usually empty).
              type:
                type: string
                enum: [ members, details, patrols, patrol-leader ]
                description: Category of change.
              code:
                type: string
                enum: [ add, field, new, add-to, promoted ]
                description: Specific action within the category.
              hidden:
                type: boolean
        meta:
          type: object
          properties:
            hidden:
              type: boolean
            note_types:
              type: array
              items:
                type: string
              description: Available note type filters.
      additionalProperties: true
    CustomDataColumnUpdateResponse:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: object
          properties:
            column_id:
              type: integer
            type:
              type: string
              description: Column type (e.g. `select`, `text`).
            required:
              type: string
              enum: [ "yes", "no" ]
            varname:
              type: string
              description: Variable name (e.g. `gender`).
            label:
              type: string
              description: Human-readable label.
            value:
              type: string
              description: The updated value.
            is_core:
              type: string
              enum: [ "yes", "no" ]
            order:
              type: string
            config:
              type: object
              additionalProperties: true
              description: Column configuration including options for select fields.
          additionalProperties: true
        meta:
          type: object
          properties:
            last_updated:
              type: object
              properties:
                last_updated:
                  type: string
                last_updated_by_name:
                  type: string
      additionalProperties: true
    BadgeRecordsResponse:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          type: array
          items:
            type: object
      additionalProperties: true
    BadgesByMemberResponse:
      type: object
      properties:
        status:
          type: boolean
        error:
          nullable: true
        data:
          type: array
          items:
            type: object
            properties:
              scoutid:
                type: integer
              firstname:
                type: string
              lastname:
                type: string
              patrol:
                type: string
              active:
                type: boolean
              badges:
                type: array
                items:
                  type: object
                  properties:
                    badge_id:
                      type: integer
                    badge_version:
                      type: integer
                    completed:
                      type: string
                    awarded:
                      type: string
                    status:
                      type: number
                  additionalProperties: true
            additionalProperties: true
        meta:
          type: array
          items:
            type: object
      additionalProperties: true